extends partials/layout

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-default'
  - var isPageTitle = false
  - var parentMenu = 'Pages'
  - var menuTitle = '404 Not Found'

//- Page Content
block content
  .container.py-5.mb-4.text-center
    h1.display-404 404
    h2.h3 Page Not Found
    p.text-muted It seems we can’t find the page you are looking for. <a href='index.html' class='font-weight-medium'>Go Back To Homepage</a><br> Or try using search at the top right corner of the page.

  //- footer-default.pug template
  include partials/footer-default
