extends partials/layout

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-default'
  - var pageTitle = 'Single Post'
  - var pageSubTitle = 'Post Format: <strong>Link</strong>'
  - var pageTitleBgImage ='img/page-title/blog-pattern.jpg'
  - var parentMenu = 'Blog'
  - var menuTitle = 'Post Link'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Blog', 'link': 'blog-grid-rs.html'}]

//- Page Content
block content
  .container.pb-5.mb-3
    .row

      // Post Content
      .col-lg-9

        //- single-post-meta.pug template
        include partials/single-post-meta

        // Link
        .card.blog-card.mb-4
          .card-body
            span.post-format
              i.fe-icon-link
            h5.post-title.post-title-link.lead
              a(href='#') Google Analytics Academy. Learn Analytics Best Practices With Free Online Courses.
        
        p.py-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
        p.pb-3 Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        h5.pb-3 Here is what people saying
        .owl-carousel.testimonials-carousel.pb-4(data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": -15, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":2},"1200":{"items":2}} }')
          .blockquote.testimonial
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.testimonial-footer
              .testimonial-avatar
                +image('img/testimonials/01.jpg', 'Testimonial Author Avatar')
              .d-table-cell.align-middle.pl-2
                .blockquote-footer
                  | Barbara Palson
                  cite Graphic Designer
          .blockquote.testimonial
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.testimonial-footer
              .testimonial-avatar
                +image('img/testimonials/02.jpg', 'Testimonial Author Avatar')
              .d-table-cell.align-middle.pl-2
                .blockquote-footer
                  | Hinata Nakamura
                  cite Financial Director
          .blockquote.testimonial
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.testimonial-footer
              .testimonial-avatar
                +image('img/testimonials/03.jpg', 'Testimonial Author Avatar')
              .d-table-cell.align-middle.pl-2
                .blockquote-footer
                  | Michael Davis
                  cite Co-Founder, CEO
          .blockquote.testimonial
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.testimonial-footer
              .testimonial-avatar
                +image('img/testimonials/04.jpg', 'Testimonial Author Avatar')
              .d-table-cell.align-middle.pl-2
                .blockquote-footer
                  | Sophia Johnson
                  cite Marketing Manager
          .blockquote.testimonial
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            footer.testimonial-footer
              .testimonial-avatar
                +image('img/testimonials/05.jpg', 'Testimonial Author Avatar')
              .d-table-cell.align-middle.pl-2
                .blockquote-footer
                  | Christopher Lee
                  cite Marketing Manager

        //- single-post-share.pug template
        include partials/single-post-share

        //- single-post-author.pug template
        include partials/single-post-author

        //- entry-navigation-blog.pug template
        include partials/entry-navigation-blog

      .col-lg-3
        //- sidebar-blog.pug template
        include partials/sidebar-blog-single

  //- post-comments.pug template
  include partials/post-comments

  //- footer-blog.pug template
  include partials/footer-blog
