extends partials/layout

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-default'
  - var isPageTitle = false
  - var parentMenu = 'Home'
  - var menuTitle = 'Online Shop v.1'

//- Page Content
block content

  // Hero Slider
  section.featured-posts-slider.d-lg-flex
    .column
      .owl-carousel.post-preview-img-carousel(data-owl-carousel='{ "nav": false, "dots": false, "loop": true, "mouseDrag": false, "touchDrag": false, "pullDrag": false }')
        a(href='shop-boxed-ft.html' style='background-image: url(img/homepages/shop-v1/hero-slide01.jpg);').post-preview-img
        a(href='shop-fw-ls.html' style='background-image: url(img/homepages/shop-v1/hero-slide02.jpg);').post-preview-img
        a(href='shop-fw-ls.html' style='background-image: url(img/homepages/shop-v1/hero-slide03.jpg);').post-preview-img
    .column
      .owl-carousel.post-cards-carousel(data-owl-carousel='{ "nav": true, "dots": false, "loop": true, "autoHeight": true }')
        .card-body
          img(src='img/homepages/shop-v1/dji-logo.png' style='width: 215px !important;' alt='DJI').d-block.mb-4
          h2.block-title.pb-4.mb-3 Re-imagine the Aerial Photography &amp; Video
          p.lead.text-muted.pb-3 Starting from <strong>$399.00</strong>
          a(href='shop-boxed-ft.html').btn.btn-style-5.btn-primary
            | Shop Now&nbsp;
            i.fe-icon-arrow-right
        .card-body
          img(src='img/homepages/shop-v1/canon-logo.png' style='width: 159px !important;' alt='DJI').d-block.mb-4
          h2.block-title.pb-4.mb-3 Check our Professional Grade Cameras Collection
          p.lead.text-muted.pb-3 Starting from <strong>$1'299.00</strong>
          a(href='shop-fw-ls.html').btn.btn-style-5.btn-primary
            | Shop Now&nbsp;
            i.fe-icon-arrow-right
        .card-body
          img(src='img/homepages/shop-v1/microsoft-logo.png' style='width: 170px !important;' alt='DJI').d-block.mb-4
          h2.block-title.pb-4.mb-3 Enhance your Productivity with Surface Pro 4 / Studio
          p.lead.text-muted.pb-3 Starting from <strong>$679.00</strong>
          a(href='shop-fw-ls.html').btn.btn-style-5.btn-primary
            | Shop Now&nbsp;
            i.fe-icon-arrow-right

  // Top Categories
  section.container.pt-5.pb-4.mt-5
    h2.h4.block-title.text-center.pt-4.mt-2 Top Categories
    .owl-carousel.carousel-flush.pt-3.pb-4(data-owl-carousel='{ "nav": false, "dots": true, "autoHeight": true, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":3},"1200":{"items":3}} }')

      // Product category
      a(href='shop-boxed-ls.html').product-category-card.mx-auto
        .product-category-card-thumb
          .main-img
            +image('img/shop/categories/07.jpg', 'Shop Category')
          .thumblist
            +image('img/shop/categories/08.jpg', 'Shop Category')
            +image('img/shop/categories/09.jpg', 'Shop Category')
        .product-category-card-body
          .product-category-card-meta Starting from $127.00
          h5.product-category-card-title TV, Video &amp; Audio

      // Product category
      a(href='shop-boxed-ls.html').product-category-card.mx-auto
        .product-category-card-thumb
          .main-img
            +image('img/shop/categories/19.jpg', 'Shop Category')
          .thumblist
            +image('img/shop/categories/20.jpg', 'Shop Category')
            +image('img/shop/categories/21.jpg', 'Shop Category')
        .product-category-card-body
          .product-category-card-meta Starting from $54.00
          h5.product-category-card-title Printers &amp; Ink

      // Product category
      a(href='shop-boxed-ls.html').product-category-card.mx-auto
        .product-category-card-thumb
          .main-img
            +image('img/shop/categories/22.jpg', 'Shop Category')
          .thumblist
            +image('img/shop/categories/23.jpg', 'Shop Category')
            +image('img/shop/categories/24.jpg', 'Shop Category')
        .product-category-card-body
          .product-category-card-meta Starting from $18.50
          h5.product-category-card-title Video Games
    .text-center
      a(href='shop-categories.html').btn.btn-style-5.btn-primary See all categories

  // Promo #1
  section.container-fluid.pt-5
    .row.justify-content-center
      .col-xl-5.col-lg-6.mb-30
        .bg-secondary.position-relative.pb-5
          span.badge.badge-danger.mt-4.ml-4 Limited Offer
          .text-center.pt-4
            h3.font-family-body.font-weight-light.mb-2 All new
            h2.mb-2.pb-1 MacBook Pro 2018
            h5.font-family-body.font-weight-light.mb-5 at discounted price. Hurry up!
            .countdown.countdown-style-2.h4(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "Days", "label-hour": "Hours", "label-minute": "Mins", "label-second": "Secs"}').mb-3
            br
            a(href='#').btn.btn-style-5.btn-gradient.mb-3 View Offers
      .col-xl-5.col-lg-6.d-none.d-lg-block.mb-30
        a(href='#' style='background-image: url(img/homepages/shop-v1/banner01.jpg);').img-cover
  
  // Promo #2
  section.container-fluid
    .row.justify-content-center
      .col-xl-10.bg-center.bg-no-repeat
        a(href='#').d-block
          img(src='img/homepages/shop-v1/banner02.jpg' alt='Surface Studio').d-block
  
  // Featured Products
  section.container.py-5.mb-4
    h2.h4.block-title.text-center.pt-3 Featured Products
    .row.pt-4

      // Product
      .col-lg-3.col-md-4.col-sm-6.mb-30
        .product-card.mx-auto.mb-3
          .product-head.d-flex.justify-content-between.align-items-center
            span.badge.badge-danger Sale
            +rating-stars(4)
          a(href='shop-single.html').product-thumb
            +image('img/shop/01.jpg', 'Product Thumbnail')
          .product-card-body
            a(href='shop-categories.html').product-meta Smart home
            h5.product-title: a(href='shop-single.html') Amazon Echo Dot (2nd Generation)
            span.product-price
              del $62.00
              | $49.99
          .product-buttons-wrap
            .product-buttons
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to your wishlist!'): i.fe-icon-heart
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to comparison table!'): i.fe-icon-repeat
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='success' data-toast-icon='fe-icon-check-circle' data-toast-title='Product' data-toast-message='added to cart successfuly!'): i.fe-icon-shopping-cart
      
      // Product
      .col-lg-3.col-md-4.col-sm-6.mb-30
        .product-card.mx-auto.mb-3
          .product-head.text-right
            +rating-stars(3)
          a(href='shop-single.html').product-thumb
            +image('img/shop/11.jpg', 'Product Thumbnail')
          .product-card-body
            a(href='shop-categories.html').product-meta Headphones
            h5.product-title: a(href='shop-single.html') Edifier W855BT Bluetooth Headphones
            span.product-price $99.75
          .product-buttons-wrap
            .product-buttons
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to your wishlist!'): i.fe-icon-heart
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to comparison table!'): i.fe-icon-repeat
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='success' data-toast-icon='fe-icon-check-circle' data-toast-title='Product' data-toast-message='added to cart successfuly!'): i.fe-icon-shopping-cart
      
      // Product
      .col-lg-3.col-md-4.col-sm-6.mb-30
        .product-card.mx-auto.mb-3
          .product-head
            span.badge.badge-secondary Out of Stock
          a(href='shop-single.html').product-thumb
            +image('img/shop/03.jpg', 'Product Thumbnail')
          .product-card-body
            a(href='shop-categories.html').product-meta Computers, laptops
            h5.product-title: a(href='shop-single.html') Microsoft Surface Pro 4 Tablet
            span.product-price.text-muted $1,049.10
          .product-buttons-wrap
            .product-buttons
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to your wishlist!'): i.fe-icon-heart
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to comparison table!'): i.fe-icon-repeat
              .product-button
                a(href='shop-single.html'): i.fe-icon-arrow-right
      
      // Product
      .col-lg-3.col-md-4.col-sm-6.mb-30
        .product-card.mx-auto.mb-3
          .product-head.text-right
            +rating-stars(4)
          a(href='shop-single.html').product-thumb
            +image('img/shop/09.jpg', 'Product Thumbnail')
          .product-card-body
            a(href='shop-categories.html').product-meta Action cameras
            h5.product-title: a(href='shop-single.html') Samsung Gear 360 Camera
            span.product-price $74.00
          .product-buttons-wrap
            .product-buttons
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to your wishlist!'): i.fe-icon-heart
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to comparison table!'): i.fe-icon-repeat
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='success' data-toast-icon='fe-icon-check-circle' data-toast-title='Product' data-toast-message='added to cart successfuly!'): i.fe-icon-shopping-cart
      
      // Product
      .col-lg-3.col-md-4.col-sm-6.mb-30
        .product-card.mx-auto.mb-3
          .product-head.text-right
            +rating-stars(0)
          a(href='shop-single.html').product-thumb
            +image('img/shop/04.jpg', 'Product Thumbnail')
          .product-card-body
            a(href='shop-categories.html').product-meta Smartphones
            h5.product-title: a(href='shop-single.html') Apple iPhone X 64GB Space Gray
            span.product-price $939.99
          .product-buttons-wrap
            .product-buttons
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to your wishlist!'): i.fe-icon-heart
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to comparison table!'): i.fe-icon-repeat
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='success' data-toast-icon='fe-icon-check-circle' data-toast-title='Product' data-toast-message='added to cart successfuly!'): i.fe-icon-shopping-cart

      // Product
      .col-lg-3.col-md-4.col-sm-6.mb-30
        .product-card.mx-auto.mb-3
          .product-head.d-flex.justify-content-between.align-items-center
            span.badge.badge-success Popular
            +rating-stars(5)
          a(href='shop-single.html').product-thumb
            +image('img/shop/06.jpg', 'Product Thumbnail')
          .product-card-body
            a(href='shop-categories.html').product-meta Video Games
            h5.product-title: a(href='shop-single.html') Microsoft Xbox One S White
            span.product-price $298.99
          .product-buttons-wrap
            .product-buttons
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to your wishlist!'): i.fe-icon-heart
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to comparison table!'): i.fe-icon-repeat
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='success' data-toast-icon='fe-icon-check-circle' data-toast-title='Product' data-toast-message='added to cart successfuly!'): i.fe-icon-shopping-cart

      // Product
      .col-lg-3.col-md-4.col-sm-6.mb-30
        .product-card.mx-auto.mb-3
          .product-head.text-right
            +rating-stars(4)
          a(href='shop-single.html').product-thumb
            +image('img/shop/08.jpg', 'Product Thumbnail')
          .product-card-body
            a(href='shop-categories.html').product-meta TV, Video &amp; Audio
            h5.product-title: a(href='shop-single.html') Sony 55-Inch 4K Smart (Android) TV
            span.product-price $1,195.00
          .product-buttons-wrap
            .product-buttons
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to your wishlist!'): i.fe-icon-heart
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to comparison table!'): i.fe-icon-repeat
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='success' data-toast-icon='fe-icon-check-circle' data-toast-title='Product' data-toast-message='added to cart successfuly!'): i.fe-icon-shopping-cart

      // Product
      .col-lg-3.col-md-4.col-sm-6.mb-30
        .product-card.mx-auto.mb-3
          .product-head
            span.badge.badge-danger Sale
          a(href='shop-single.html').product-thumb
            +image('img/shop/10.jpg', 'Product Thumbnail')
          .product-card-body
            a(href='shop-categories.html').product-meta Printers &amp; Ink
            h5.product-title: a(href='shop-single.html') Hewlett-Packard LaserJet Pro Printer
            span.product-price
              del $280.00
              | $249.50
          .product-buttons-wrap
            .product-buttons
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to your wishlist!'): i.fe-icon-heart
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='fe-icon-help-circle' data-toast-title='Product' data-toast-message='added to comparison table!'): i.fe-icon-repeat
              .product-button
                a(href='#' data-toast data-toast-position='topRight' data-toast-type='success' data-toast-icon='fe-icon-check-circle' data-toast-title='Product' data-toast-message='added to cart successfuly!'): i.fe-icon-shopping-cart
    .text-center.pt-3
      a(href='shop-boxed-ls.html').btn.btn-style-5.btn-primary View all products

  // Product Widgets
  section.container.pb-4.mb-2
    .row
    
      // Top Sellers
      .col-md-4.col-sm-6
        .widget.widget-featured-products
          h3.widget-title Top Sellers
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/04.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Nyko Grip for Nintendo Switch
              +rating-stars(4)
              span.featured-product-price
                del $99.00
                | &nbsp;$89.00
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/02.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Zeus Bluetooth Earbuds
              +rating-stars(3)
              span.featured-product-price $28.99
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/03.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Xbox One S White
              +rating-stars(4)
              span.featured-product-price $298.99

      // New Arrivals
      .col-md-4.col-sm-6
        .widget.widget-featured-products
          h3.widget-title New Arrivals
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/06.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Aberg Best 21 MP Camera
              +rating-stars(3)
              span.featured-product-price $135.00
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/05.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Samsung Galaxy S9 Plus 128GB
              +rating-stars(4)
              span.featured-product-price $859.00
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/07.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Apple Watch Series 3 Rose Gold
              +rating-stars(4)
              span.featured-product-price $329.40

      // Best Rated
      .col-md-4.col-sm-6
        .widget.widget-featured-products
          h3.widget-title Best Rated
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/01.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Amazon Echo Dot (2nd Gen)
              +rating-stars(5)
              span.featured-product-price
                del $62.00
                | &nbsp;$49.99
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/09.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Edifier Bluetooth Headphones
              +rating-stars(5)
              span.featured-product-price $99.75
          a(href='shop-single.html').featured-product
            .featured-product-thumb
              +image('img/widgets/shop/08.jpg', 'Product Image')
            .featured-product-info
              h5.featured-product-title Apple iPhone X 64GB Space Gray
              +rating-stars(5)
              span.featured-product-price $939.99
  
  // Popular Brands
  section.bg-secondary.pt-5.pb-4
    .container.pt-3.pb-2
      h2.h4.block-title.text-center Popular Brands
      .owl-carousel.carousel-flush.pt-3(data-owl-carousel='{ "nav": false, "dots": true, "autoplay": true, "autoplayTimeout": 3500, "loop": true, "autoHeight": true, "responsive": {"0":{"items":1},"360":{"items":2},"600":{"items":3},"991":{"items":4},"1200":{"items":4}} }')
        a(href='#').d-block.bg-white.box-shadow.py-4.py-sm-5.px-2.mb-30
          img(src='img/partners/10.png' style='width: 165px;' alt='Partner').d-block.mx-auto
        a(href='#').d-block.bg-white.box-shadow.py-4.py-sm-5.px-2.mb-30
          img(src='img/partners/11.png' style='width: 165px;' alt='Partner').d-block.mx-auto
        a(href='#').d-block.bg-white.box-shadow.py-4.py-sm-5.px-2.mb-30
          img(src='img/partners/14.png' style='width: 165px;' alt='Partner').d-block.mx-auto
        a(href='#').d-block.bg-white.box-shadow.py-4.py-sm-5.px-2.mb-30
          img(src='img/partners/13.png' style='width: 165px;' alt='Partner').d-block.mx-auto
        a(href='#').d-block.bg-white.box-shadow.py-4.py-sm-5.px-2.mb-30
          img(src='img/partners/12.png' style='width: 165px;' alt='Partner').d-block.mx-auto
        a(href='#').d-block.bg-white.box-shadow.py-4.py-sm-5.px-2.mb-30
          img(src='img/partners/15.png' style='width: 165px;' alt='Partner').d-block.mx-auto
        a(href='#').d-block.bg-white.box-shadow.py-4.py-sm-5.px-2.mb-30
          img(src='img/partners/16.png' style='width: 165px;' alt='Partner').d-block.mx-auto
        a(href='#').d-block.bg-white.box-shadow.py-4.py-sm-5.px-2.mb-30
          img(src='img/partners/17.png' style='width: 165px;' alt='Partner').d-block.mx-auto
  
  // Shop Services
  section.container.py-5
    .row.pt-3
      .col-md-3.col-sm-6.text-center.mb-30
        img(src='img/shop/services/01.png' width='90' alt='Free Worldwide Shipping').mx-auto.mb-4
        h3.text-lg.mb-2.text-body Free Worldwide Shipping
        p.text-sm.text-muted.mb-0 Free shipping for all orders over $100
      .col-md-3.col-sm-6.text-center.mb-30
        img(src='img/shop/services/02.png' width='90' alt='Money Back Guarantee').mx-auto.mb-4
        h3.text-lg.mb-2.text-body Money Back Guarantee
        p.text-sm.text-muted.mb-0 We return money within 30 days
      .col-md-3.col-sm-6.text-center.mb-30
        img(src='img/shop/services/03.png' width='90' alt='24/7 Customer Support').mx-auto.mb-4
        h3.text-lg.mb-2.text-body 24/7 Customer Support
        p.text-sm.text-muted.mb-0 Friendly 24/7 customer support
      .col-md-3.col-sm-6.text-center.mb-30
        img(src='img/shop/services/04.png' width='90' alt='Secure Online Payment').mx-auto.mb-4
        h3.text-lg.mb-2.text-body Secure Online Payment
        p.text-sm.text-muted.mb-0 We posess SSL / Secure Certificate

  //- footer-shop.pug template
  include partials/footer-shop
