extends partials/layout

//- Override default config variables
append config
  - var navbarTemplate = 'navbar-default'
  - var isPageTitle = false
  - var parentMenu = 'Pages'
  - var menuTitle = 'Search Results'

//- Page Content
block content
  .container.py-5.mb-3
    .d-flex.justify-content-between.align-items-center.pb-2.border-bottom
      h1.h3 <span class='font-weight-light font-family-body text-lg'>Search results for:</span><br> Lorem ipsum
      i.d-none.d-sm-block.display-4.fe-icon-search.text-muted.opacity-50
    .row.mt-5

      // From Shop
      .col-md-4
        .widget
          .widget-title From shop
          a(href='shop-single.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/shop/01.jpg' alt='Product')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Amazon Echo Dot (2nd Gen)
              p.mb-0.text-muted.font-weight-bold $49.99
          a(href='shop-single.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/shop/02.jpg' alt='Product')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Samsung Gear 360 Camera
              p.mb-0.text-muted.font-weight-bold $74.00
          a(href='shop-single.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/shop/04.jpg' alt='Product')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Sony 55-Inch 4K Smart TV
              p.mb-0.text-muted.font-weight-bold $1,195.00
          a(href='shop-single.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/shop/03.jpg' alt='Product')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Samsung Galaxy S9 Plus
              p.mb-0.text-muted.font-weight-bold $859.00
          a(href='shop-single.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/shop/05.jpg' alt='Product')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Edifier Wireless Headphones
              p.mb-0.text-muted.font-weight-bold $99.75
      
      // From Portfolio  
      .col-md-4
        .widget
          .widget-title From portfolio
          a(href='portfolio-single-side-gallery-grid.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/portfolio/01.jpg' alt='Project')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 iOS App UI Design
              p.mb-0.text-sm.text-muted.font-weight-bold William Smith
          a(href='portfolio-single-side-gallery-list.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/portfolio/02.jpg' alt='Project')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Web App Front-End
              p.mb-0.text-sm.text-muted.font-weight-bold Benjamin Miller
          a(href='portfolio-single-wide-gallery.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/portfolio/03.jpg' alt='Project')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Working Space Design
              p.mb-0.text-sm.text-muted.font-weight-bold Emilia Green
          a(href='portfolio-single-wide-slider.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/portfolio/04.jpg' alt='Project')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 iOS App Development
              p.mb-0.text-sm.text-muted.font-weight-bold Michael Brown
          a(href='portfolio-single-side-gallery-grid.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/portfolio/05.jpg' alt='Project')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Wall Shelves Design
              p.mb-0.text-sm.text-muted.font-weight-bold William Smith
      
      // From Blog
      .col-md-4
        .widget
          .widget-title From blog
          a(href='blog-single-gallery.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/blog/01.jpg' alt='Blog Post')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 The Real Truth About Space
              p.mb-0.text-sm.text-muted.font-weight-bold Sara Palson
          a(href='blog-single-carousel.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/blog/02.jpg' alt='Blog Post')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Around the World in 80 Days
              p.mb-0.text-sm.text-muted.font-weight-bold Mark Peterson
          a(href='blog-single-gallery.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/blog/03.jpg' alt='Blog Post')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 When I do good, I feel good...
              p.mb-0.text-sm.text-muted.font-weight-bold Jessica Jones
          a(href='blog-single-carousel.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/blog/04.jpg' alt='Blog Post')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Modern Architecture in Slides
              p.mb-0.text-sm.text-muted.font-weight-bold Emanuel Ortega
          a(href='blog-single-gallery.html').d-table.w-100.p-3.box-shadow.mb-3.text-decoration-none
            .d-table-cell.align-middle(style='width: 60px;')
              img(src='img/pages/search-results/blog/05.jpg' alt='Blog Post')
            .d-table-cell.align-middle.pl-3
              h6.text-md.font-weight-bold.mb-1 Cherry 5 WordPress Framework
              p.mb-0.text-sm.text-muted.font-weight-bold Endrew Wilson
    
    //-pagination.pug template
    include partials/pagination

  //- footer-default.pug template
  include partials/footer-default
