// Footer
footer.bg-dark.pt-5

  // First Row
  .container.pt-2
    .row
      // Shop Departments
      .col-lg-6
        .widget.widget-light-skin.mb-0
          h4.widget-title Shop departments
        .row
          .col-sm-6
            .widget.widget-categories.widget-light-skin
              ul
                li: a(href='#') Computers &amp; Accessories
                li: a(href='#') Smartphones &amp; Tablets
                li: a(href='#') TV, Video &amp; Audio
                li: a(href='#') Cameras, Photo &amp; Video
                li: a(href='#') Headphones
                li: a(href='#') Wearable Electroinics
          .col-sm-6
            .widget.widget-categories.widget-light-skin
              ul
                li: a(href='#') Printers &amp; Ink
                li: a(href='#') Video Games
                li: a(href='#') Car Electronics
                li: a(href='#') Smart Home, IoT
                li: a(href='#') Musical Instruments
                li: a(href='#') Software
      // About Links
      .col-lg-3.col-sm-6
        .widget.widget-categories.widget-light-skin
          h4.widget-title About us
          ul
            li: a(href='#') Careers
            li: a(href='#') About CreateX
            li: a(href='#') Our Story
            li: a(href='#') Services
            li: a(href='#') Our Blog
            li: a(href='#') Contacts
      // Account Links
      .col-lg-3.col-sm-6
        .widget.widget-categories.widget-light-skin
          h4.widget-title Account &amp; Shipping Info
          ul
            li: a(href='#') My Account
            li: a(href='#') Shipping Rates &amp; Policies
            li: a(href='#') Refunds &amp; Replacements
            li: a(href='#') Taxes
            li: a(href='#') Delivery Info
            li: a(href='#') Affiliate Program

  // Second Row
  div(style='background-color: #30363d;').pt-5
    .container
      .row
        // Contacts
        .col-lg-3.col-sm-6
          .widget.widget-contacts.widget-light-skin.mb-4
            h4.widget-title Get in touch with us
            ul
              li
                i.fe-icon-map-pin
                span Find us
                a(href='#') 1260 Broadway, New York
              li
                i.fe-icon-phone
                span Call us
                a(href='tel:00180039025') 001 800 390 25
              li
                i.fe-icon-mail
                span Write us
                a(href='mailto:info@example.com') info@example.com
          .widget.pt-2
            a(href='#').social-btn.sb-style-6.sb-facebook.sb-light-skin
              i.socicon-facebook
            a(href='#').social-btn.sb-style-6.sb-twitter.sb-light-skin
              i.socicon-twitter
            a(href='#').social-btn.sb-style-6.sb-youtube.sb-light-skin
              i.socicon-youtube
            a(href='#').social-btn.sb-style-6.sb-instagram.sb-light-skin
              i.socicon-instagram
            a(href='#').social-btn.sb-style-6.sb-pinterest.sb-light-skin
              i.socicon-pinterest
        // Mobile App
        .col-lg-3.col-sm-6
          .widget.widget-light-skin
            h4.widget-title Our mobile app
            a(href='#').market-btn.apple-btn.market-btn-light-skin.mr-3.mb-3
              span.mb-subtitle Download on the
              span.mb-title App Store
            a(href='#').market-btn.google-btn.market-btn-light-skin.mr-3.mb-3
              span.mb-subtitle Download on the
              span.mb-title Google Play
            a(href='#').market-btn.windows-btn.market-btn-light-skin.mr-3.mb-3
              span.mb-subtitle Download on the
              span.mb-title Windows Store
            a(href='#').market-btn.amazon-btn.market-btn-light-skin.mr-3.mb-3
              span.mb-subtitle Order now at
              span.mb-title Amazon.com
        // Subscription
        .col-lg-6
          .widget.widget-light-skin
            h4.widget-title Be informed
            form(action='https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=29ca296126' method='post' target='_blank' novalidate)
              .input-group
                input(type='email' name='EMAIL' placeholder="Email address").form-control.form-control-light-skin
                .input-group-append
                  button(type='submit').btn.btn-primary Sign Up
              small.form-text.text-white.opacity-50.pt-1 Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;' aria-hidden='true')
                input(type='text' name='b_c7103e2c981361a6639545bd5_1194bb7544' tabindex='-1')
            .pt-4.mt-2
              img(src='img/credit-cards-footer.png' style='width: 324px;' alt='Credit Cards').d-block

      hr.hr-light
      .d-md-flex.justify-content-between.align-items-center.py-4.text-center.text-md-left
        div.order-2
          a(href='#').footer-link.text-white About
          a(href='#').footer-link.text-white.ml-3 Help &amp; Info
          a(href='#').footer-link.text-white.ml-3 Privacy Policy
        p.m-0.text-sm.text-white.order-1 <span class='opacity-60'>© All rights reserved. Made with</span> <i class='d-inline-block align-middle fe-icon-heart text-danger'></i> <a href='http://createx.studio/' class='d-inline-block nav-link text-white opacity-60 p-0' target='_blank'>by Createx Studio</a>
