// Footer
footer.bg-dark.pt-5
  .container.pt-2
    .row
      .col-lg-3.pb-4.mb-2
        a(href='index.html').navbar-brand.d-inline-block.mb-4
          img(src='img/logo/logo-light.png' alt='CreateX')
        p.text-sm.text-white.opacity-50 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utar enim ad minim veniam.
        ul.list-icon.text-sm.pb-2
          li
            i.fe-icon-map-pin.text-white.opacity-60
            a(href='#').navi-link.text-white 
              | &nbsp;396 Lillian Blvd, Holbrook, NY, USA
          li
            i.fe-icon-phone.text-white.opacity-60
            a(href='tel:+1212477690000').navi-link.text-white 
              | &nbsp;+1 (212) 477 690 000
          li
            i.fe-icon-mail.text-white.opacity-60
            a(href='mailto:support@example.com').navi-link.text-white 
              | &nbsp;support@example.com
        a(href='#').social-btn.sb-style-6.sb-facebook.sb-light-skin
          i.socicon-facebook
        a(href='#').social-btn.sb-style-6.sb-twitter.sb-light-skin
          i.socicon-twitter
        a(href='#').social-btn.sb-style-6.sb-youtube.sb-light-skin
          i.socicon-youtube
        a(href='#').social-btn.sb-style-6.sb-instagram.sb-light-skin
          i.socicon-instagram
      .col-lg-6
        .widget.widget-light-skin.mb-0
          h4.widget-title Useful Links
        .row
          .col-md-6
            .widget.widget-categories.widget-light-skin
              ul
                li: a(href='#') About Us
                li: a(href='#') Our Story
                li: a(href='#') Careers at CreateX
                li: a(href='#') Services We Provide
                li: a(href='#') Latest News
          .col-md-6
            .widget.widget-categories.widget-light-skin
              ul
                li: a(href='#') Help Center
                li: a(href='#') My Account Info
                li: a(href='#') Affiliate Program
                li: a(href='#') Office Directory
                li: a(href='#') Terms &amp; Conditions
      .col-lg-3
        .widget.widget-light-skin
          h4.widget-title Our mobile app
          a(href='#').market-btn.apple-btn.market-btn-light-skin.mr-3.mb-3
            span.mb-subtitle Download on the
            span.mb-title App Store
          a(href='#').market-btn.google-btn.market-btn-light-skin.mr-3.mb-3
            span.mb-subtitle Download on the
            span.mb-title Google Play
          a(href='#').market-btn.windows-btn.market-btn-light-skin.mr-3.mb-3
            span.mb-subtitle Download on the
            span.mb-title Windows Store

  // Subscription
  div(style='background-color: #30363d;').pt-5
    .container
      h6.text-white.text-center Subscribe to Newsletter
      .row.justify-content-center.pb-5
        .col-xl-6.col-lg-7.col-md-9
          form(action='https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=29ca296126' method='post' target='_blank' novalidate)
            .input-group
              input(type='email' name='EMAIL' placeholder="Email address").form-control.form-control-light-skin
              .input-group-append
                button(type='submit').btn.btn-primary Sign Up
            small.form-text.text-white.opacity-50.pt-1.text-center Enter email to receive a newsletter with new posts daily.
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;' aria-hidden='true')
              input(type='text' name='b_c7103e2c981361a6639545bd5_1194bb7544' tabindex='-1')
      hr.hr-light
      .d-md-flex.justify-content-between.align-items-center.py-4.text-center.text-md-left
        div.order-2
          a(href='#').footer-link.text-white About
          a(href='#').footer-link.text-white.ml-3 Help &amp; Info
          a(href='#').footer-link.text-white.ml-3 Privacy Policy
        p.m-0.text-sm.text-white.order-1 <span class='opacity-60'>© All rights reserved. Made with</span> <i class='d-inline-block align-middle fe-icon-heart text-danger'></i> <a href='http://createx.studio/' class='d-inline-block nav-link text-white opacity-60 p-0' target='_blank'>by Createx Studio</a>
