// Order Details
#order-details.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Order No - 34VB5540K83
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        // Item
        .cart-item.d-md-flex.justify-content-between.pr-2
          .px-3.my-3
            .cart-item-label.d-none.d-mb-block Product
            a(href='shop-single.html').cart-item-product
              .cart-item-product-thumb
                img(src='img/shop/cart/01.jpg' alt='Product')
              .cart-item-product-info
                h4.cart-item-product-title Canon EOS M50 Mirrorless Camera
                span <strong>Type:</strong> Mirrorless
                span <strong>Color:</strong> Black
          .px-3.my-3.text-center
            .cart-item-label Quantity
            span.text-xl.font-weight-medium 1
          .px-3.my-3.text-center
            .cart-item-label Subtotal
            span.text-xl.font-weight-medium $910.00
        // Item
        .cart-item.d-md-flex.justify-content-between.pr-2
          .px-3.my-3
            .cart-item-label.d-none.d-mb-block Product
            a(href='shop-single.html').cart-item-product
              .cart-item-product-thumb
                img(src='img/shop/cart/02.jpg' alt='Product')
              .cart-item-product-info
                h4.cart-item-product-title Apple iPhone X 256 GB Space Gray
                span <strong>Memory:</strong> 256GB
                span <strong>Color:</strong> Space Gray
          .px-3.my-3.text-center
            .cart-item-label Quantity
            span.text-xl.font-weight-medium 1
          .px-3.my-3.text-center
            .cart-item-label Subtotal
            span.text-xl.font-weight-medium $1,450.00
        // Item
        .cart-item.d-md-flex.justify-content-between.pr-2
          .px-3.my-3
            .cart-item-label.d-none.d-mb-block Product
            a(href='shop-single.html').cart-item-product
              .cart-item-product-thumb
                img(src='img/shop/cart/03.jpg' alt='Product')
              .cart-item-product-info
                h4.cart-item-product-title HP LaserJet Pro Laser Printer
                span <strong>Type:</strong> Laser
                span <strong>Color:</strong> White
          .px-3.my-3.text-center
            .cart-item-label Quantity
            span.text-xl.font-weight-medium 1
          .px-3.my-3.text-center
            .cart-item-label Subtotal
            span.text-xl.font-weight-medium $188.50
      .modal-footer.flex-wrap.justify-content-between
        .px-2.py-1
          span.text-muted Subtotal:&nbsp;
          span.font-weight-medium $2,548.50
        .px-2.py-1
          span.text-muted Shipping:&nbsp;
          span.font-weight-medium $26.50
        .px-2.py-1
          span.text-muted Tax:&nbsp;
          span.font-weight-medium $9.72
        .px-2.py-1
          span.text-muted Total:&nbsp;
          span.text-lg.font-weight-medium $2,584.72