// Single Post Comments
#comments.bg-secondary.py-5
  .container.pb-4
    .row
      .col-lg-9
        h4.text-center.pb-3 3 Comments
        .blockquote.comment.mb-4
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nostrud. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
          .d-sm-flex.justify-content-between.align-items-center
            .testimonial-footer
              .testimonial-avatar
                +image('img/testimonials/03.jpg', 'Comment Author Avatar')
              .d-table-cell.align-middle.pl-2
                .blockquote-footer
                  | Michael Davis
                  cite August 12, 2018 at 3:10PM
            div.pt-3
              a(href='#').btn.btn-primary.btn-sm
                i.fe-icon-corner-up-left
                | &nbsp;Reply
          .blockquote.comment
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nostrud. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
            .testimonial-footer
              .testimonial-avatar
                +image('img/testimonials/05.jpg', 'Comment Author Avatar')
              .d-table-cell.align-middle.pl-2
                .blockquote-footer
                  | Benjamin Miller
                  cite August 13, 2018 at 5:00PM
        .blockquote.comment
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nostrud. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
          .d-sm-flex.justify-content-between.align-items-center
            .testimonial-footer
              .testimonial-avatar
                +image('img/testimonials/04.jpg', 'Comment Author Avatar')
              .d-table-cell.align-middle.pl-2
                .blockquote-footer
                  | Sophia Johnson
                  cite July 25, 2018 at 11:50AM
            div.pt-3
              a(href='#').btn.btn-primary.btn-sm
                i.fe-icon-corner-up-left
                | &nbsp;Reply
