// Related Projects Carousel
h3.h4.text-center.pt-5.mt-3.pb-4 You May Also Like
.owl-carousel.carousel-flush(data-owl-carousel='{ "nav": false, "dots": true,"responsive": {"0":{"items":1},"576":{"items":2},"768":{"items":3},"991":{"items":4},"1200":{"items":4}} }')

  // Product
  .mb-30.pb-3
    .card.portfolio-card
      a(href='portfolio-single-side-gallery-list.html').portfolio-thumb
        +image('img/portfolio/02.jpg', 'Portfolio Thumbnail')
      .card-body
        .portfolio-meta
          span
            i.fe-icon-user
            | Benjamin Miller
        h5.portfolio-title: a(href='portfolio-single-side-gallery-list.html') Web App Front-End
      .card-footer
        div
          a(href='#').tag-link Web Design
        .portfolio-meta
          a(href='#')
            i.fe-icon-heart.text-accent
            | 8

  // Product
  .mb-30.pb-3
    .card.portfolio-card
      a(href='portfolio-single-wide-slider.html').portfolio-thumb
        +image('img/portfolio/03.jpg', 'Portfolio Thumbnail')
      .card-body
        .portfolio-meta
          span
            i.fe-icon-user
            | Olivia Davis
        h5.portfolio-title: a(href='portfolio-single-wide-slider.html') Brand Design
      .card-footer
        div
          a(href='#').tag-link Branding
        .portfolio-meta
          a(href='#')
            i.fe-icon-heart.text-accent
            | 25

  // Product
  .mb-30.pb-3
    .card.portfolio-card
      a(href='portfolio-single-wide-gallery.html').portfolio-thumb
        +image('img/portfolio/12.jpg', 'Portfolio Thumbnail')
      .card-body
        .portfolio-meta
          span
            i.fe-icon-user
            | Michael Brown
        h5.portfolio-title: a(href='portfolio-single-wide-gallery.html') Photo App UX
      .card-footer
        div
          a(href='#').tag-link Mobile Apps
        .portfolio-meta
          a(href='#')
            i.fe-icon-heart.text-accent
            | 183

  // Product
  .mb-30.pb-3
    .card.portfolio-card
      a(href='portfolio-single-wide-slider.html').portfolio-thumb
        +image('img/portfolio/11.jpg', 'Portfolio Thumbnail')
      .card-body
        .portfolio-meta
          span
            i.fe-icon-user
            | Emma Johnson
        h5.portfolio-title: a(href='portfolio-single-wide-slider.html') Furniture Design
      .card-footer
        div
          a(href='#').tag-link Interior Design
        .portfolio-meta
          a(href='#')
            i.fe-icon-heart.text-accent
            | 120

  // Product
  .mb-30.pb-3
    .card.portfolio-card
      a(href='portfolio-single-side-gallery-list.html').portfolio-thumb
        +image('img/portfolio/07.jpg', 'Portfolio Thumbnail')
      .card-body
        .portfolio-meta
          span
            i.fe-icon-user
            | Emma Johnson
        h5.portfolio-title: a(href='portfolio-single-side-gallery-list.html') Package Design
      .card-footer
        div
          a(href='#').tag-link Package Design
        .portfolio-meta
          a(href='#')
            i.fe-icon-heart.text-accent
            | 116

  // Product
  .mb-30.pb-3
    .card.portfolio-card
      a(href='portfolio-single-side-gallery-grid.html').portfolio-thumb
        +image('img/portfolio/09.jpg', 'Portfolio Thumbnail')
      .card-body
        .portfolio-meta
          span
            i.fe-icon-user
            | Benjamin Miller
        h5.portfolio-title: a(href='portfolio-single-side-gallery-grid.html') Watch UI Design
      .card-footer
        div
          a(href='#').tag-link Mobile Apps
        .portfolio-meta
          a(href='#')
            i.fe-icon-heart.text-accent
            | 156
