a(href='#')&attributes(isNestedFile ? {'style': 'background-image: url(../img/shop/shop-banner-bg.jpg);'} : {'style': 'background-image: url(img/shop/shop-banner-bg.jpg);'} ).alert.alert-secondary.alert-dismissible.fade.show.mb-30
  span(data-dismiss='alert').close
  .d-flex.flex-wrap.flex-md-nowrap.justify-content-between.align-items-center.overflow-hidden
    div.mx-auto.mx-md-0.px-3.pb-2.text-center.text-md-left.text-sm-nowrap
      span.d-block.text-lg.text-thin.mb-2 Limited Time Deals
      h4.text-gray-dark.pb-1 Surface Pro 4
      .countdown.countdown-style-1.text-lg(data-date-time='10/10/2020 12:00' data-labels='{"label-day": "Days", "label-hour": "Hours", "label-minute": "Mins", "label-second": "Secs"}').mb-1
      p.d-inline-block.bg-gradient.text-white.px-2.py-1
        | Shop Now&nbsp;
        i.fe-icon-chevron-right.d-inline-block.align-middle
    img(alt='Surface Pro 4')&attributes(isNestedFile ? {'src': '../img/shop/shop-banner.png'} : {'src': 'img/shop/shop-banner.png'} ).d-block.mx-auto.mx-md-0