// Single Post Tags + Share
.d-sm-flex.justify-content-between.align-items-center.border-top.border-bottom.mb-5.py-2
  div.py-2
     a(href='#').tag-link Architecture
     a(href='#').tag-link Design
     a(href='#').tag-link Construction
  div.py-2
    span.dinline-block.align-middle.py-2.mr-2 <strong>Share:</strong>
    a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-btn.sb-style-3.sb-facebook.mb-0
      i.socicon-facebook
    a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-btn.sb-style-3.sb-twitter.mb-0
      i.socicon-twitter
    a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-btn.sb-style-3.sb-pinterest.mb-0
      i.socicon-pinterest
