// Single Post Author
#author.pb-3(data-offset-top='100')
  .author-card.mb-5
    .author-card-cover(style='background-image: url(img/widgets/author/cover.jpg);')
    .author-card-profile
      .author-card-avatar
        +image('img/widgets/author/avatar.jpg', 'Post Author')
      .author-card-details
        h5.author-card-name Sara Palson
        span.author-card-position Architect &amp; Designer
    p.author-card-info Sed ut perspiciatis unde omnis iste natus error sit voluptatem olore accusantium doloremque isul laudantium, totam remape. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    .author-card-social-bar-wrap
      .author-card-social-bar
        a(href='#').social-btn.sb-style-1.sb-facebook
          i.socicon-facebook
        a(href='#').social-btn.sb-style-1.sb-pinterest
          i.socicon-pinterest
        a(href='#').social-btn.sb-style-1.sb-twitter
          i.socicon-twitter
        a(href='#').social-btn.sb-style-1.sb-linkedin
          i.socicon-linkedin
hr.pb-4