// Single Post Meta

.d-flex.justify-content-between.align-items-center.pb-3
  div
    a(href='#author').scroll-to.post-author
      .post-author-avatar
        +image('img/blog/authors/th01.jpg', 'Post Author')
      .post-author-name Sara Palson
  .post-meta
    a(href='#comments').scroll-to.text-sm
      i.fe-icon-message-square
      | 3
    span.text-sm
      i.fe-icon-clock
      | Sep 03, 2018
hr.mb-4