//- Page title
- var pageTitle = 'CreateX | Multipurpose Bootstrap Theme'
- var pageSubTitle = ''
- var pageTitleInverse = false
- var pageTitleBgImage
- var pageTitleBgCover = false
- var pageTitleBgFixed = false
- var pageTitleXY = {x: 'left', y: 'center'}
- var pageTitleLarge = false
- var pageTitleIndentLeft = false
- var pageTitleIndentRight = false

//- Breadcrumbs
- var breadcrumbs = []

//- Conditionals
- var isPageTitle = true
- var isGoogleMap = false
- var isModalExample = false
- var isModalReview = false
- var isModalOrder = false
- var isModalTicket = false
- var isCardScript = false

//- Body background
- var bodyBgImage

//- navbar template
- var navbarTemplate

//- File nesting
- var isNestedFile = false

//- Active menu item
- var parentMenu
- var menuTitle