// Block Title Alignment Code
#block-title-alignment-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html3' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug3' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html3' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Block Title Alignment --&gt;</strong>
                &lt;h3 class=&quot;block-title text-left&quot;&gt;Left aligned&lt;/h3&gt;
                &lt;h3 class=&quot;block-title text-center&quot;&gt;Center aligned&lt;/h3&gt;
                &lt;h3 class=&quot;block-title text-right&quot;&gt;Right aligned&lt;/h3&gt;
          div(id='pug3' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Block Title Alignment</strong>
                h3.block-title.text-left Left aligned
                h3.block-title.text-center Center aligned
                h3.block-title.text-right Right aligned
