// Buttons Style 3 Code
#buttons-style2-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html3' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug3' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html3' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Primary Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-primary&quot; href=&quot;#&quot;&gt;
                  &lt;i class=&quot;fe-icon-edit mr-1&quot;&gt;&lt;/i&gt;
                  Primary
                &lt;/a&gt;

                <strong>&lt;!-- Secondary Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-secondary&quot; href=&quot;#&quot;&gt;
                  Secondary
                  &lt;i class=&quot;fe-icon-sliders ml-1&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                <strong>&lt;!-- Accent Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-accent&quot; href=&quot;#&quot;&gt;
                  &lt;i class=&quot;fe-icon-camera mr-1&quot;&gt;&lt;/i&gt;
                  Secondary
                &lt;/a&gt;

                <strong>&lt;!-- Info Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-info&quot; href=&quot;#&quot;&gt;
                  Info
                &lt;/a&gt;

                <strong>&lt;!-- Success Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-success&quot; href=&quot;#&quot;&gt;
                  Success
                &lt;/a&gt;

                <strong>&lt;!-- Warning Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-warning&quot; href=&quot;#&quot;&gt;
                  Warning
                &lt;/a&gt;

                <strong>&lt;!-- Danger Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-danger&quot; href=&quot;#&quot;&gt;
                  Danger
                &lt;/a&gt;

                <strong>&lt;!-- Gradient Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-gradient&quot; href=&quot;#&quot;&gt;
                  Gradient
                &lt;/a&gt;

                <strong>&lt;!-- Light Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-light&quot; href=&quot;#&quot;&gt;
                  &lt;i class=&quot;fe-icon-settings mr-1&quot;&gt;&lt;/i&gt;
                  Light Button
                &lt;/a&gt;

                <strong>&lt;!-- Dark Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-dark&quot; href=&quot;#&quot;&gt;
                  Dark Button
                &lt;/a&gt;

                <strong>&lt;!-- Large Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-secondary btn-lg&quot; href=&quot;#&quot;&gt;
                  Large Button
                &lt;/a&gt;

                <strong>&lt;!-- Small Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-secondary btn-sm&quot; href=&quot;#&quot;&gt;
                  Small Button
                &lt;/a&gt;

                <strong>&lt;!-- Block Button --&gt;</strong>
                &lt;a class=&quot;btn btn-style-2 btn-secondary btn-block&quot; href=&quot;#&quot;&gt;
                  Block Button
                &lt;/a&gt;
          div(id='pug3' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Primary Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-primary
                  i.fe-icon-edit.mr-1
                  | Primary

                <strong>//- Secondary Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-secondary
                  | Secondary
                  i.fe-icon-sliders.ml-1

                <strong>//- Accent Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-accent
                  i.fe-icon-camera.mr-1
                  | Accent

                <strong>//- Info Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-info Info

                <strong>//- Success Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-success Success

                <strong>//- Warning Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-warning Warning

                <strong>//- Danger Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-danger Danger

                <strong>//- Gradient Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-gradient Gradient

                <strong>//- Light Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-light
                  i.fe-icon-settings.mr-1
                  | Light Button

                <strong>//- Dark Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-dark Dark Button

                <strong>//- Large Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-secondary.btn-lg Large Button

                <strong>//- Small Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-secondary.btn-sm Small Button

                <strong>//- Block Button</strong>
                a(href=&quot;#&quot;).btn.btn-style-2.btn-secondary.btn-block Block Button
