// Card Borders Code
#card-border-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html10' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug10' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html10' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Card Primary Border --&gt;</strong>
                &lt;div class=&quot;card border border-primary&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Card Accent Border --&gt;</strong>
                &lt;div class=&quot;card border border-accent&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Card Info Border --&gt;</strong>
                &lt;div class=&quot;card border border-info&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Card Success Border --&gt;</strong>
                &lt;div class=&quot;card border border-success&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Card Warning Border --&gt;</strong>
                &lt;div class=&quot;card border border-warning&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Card Danger Border --&gt;</strong>
                &lt;div class=&quot;card border border-danger&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Card Dark Border --&gt;</strong>
                &lt;div class=&quot;card border border-dark&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Card Secondary Border --&gt;</strong>
                &lt;div class=&quot;card border border-secondary&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug10' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Card Primary Border</strong>
                .card.border.border-primary
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet...
                
                <strong>//- Card Accent Border</strong>
                .card.border.border-accent
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet...
                
                <strong>//- Card Info Border</strong>
                .card.border.border-info
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet...
                
                <strong>//- Card Success Border</strong>
                .card.border.border-success
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet...
                
                <strong>//- Card Warning Border</strong>
                .card.border.border-warning
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet...
                
                <strong>//- Card Danger Border</strong>
                .card.border.border-danger
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet...
                
                <strong>//- Card Dark Border</strong>
                .card.border.border-dark
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet...
                
                <strong>//- Card Secondary Border</strong>
                .card.border.border-secondary
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet...
