// Card with List Group Code
#card-list-group-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html9' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug9' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html9' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- List Group inside Card --&gt;</strong>
                &lt;div class=&quot;card&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                  &lt;ul class=&quot;list-group list-group-flush&quot;&gt;
                    &lt;li class=&quot;list-group-item&quot;&gt;Cras justo odio&lt;/li&gt;
                    &lt;li class=&quot;list-group-item active&quot;&gt;Dapibus ac facilisis (active)&lt;/li&gt;
                    &lt;li class=&quot;list-group-item&quot;&gt;Vestibulum at eros&lt;/li&gt;
                    &lt;li class=&quot;list-group-item&quot;&gt;Porta ac consectetur ac&lt;/li&gt;
                  &lt;/ul&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;a class=&quot;btn btn-sm btn-primary&quot; href=&quot;#&quot;&gt;Go Somewhere&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug9' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- List Group inside Card</strong>
                .card
                  .card-body
                    h4.card-title Card title
                    p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                  ul.list-group.list-group-flush
                    li.list-group-item Cras justo odio
                    li.list-group-item.active Dapibus ac facilisis (active)
                    li.list-group-item Vestibulum at eros
                    li.list-group-item Porta ac consectetur ac
                  .card-body
                    a(href=&quot;#&quot;).btn.btn-sm.btn-primary Go Somewhere
