// Card Bottom Image Code
#card-bottom-image-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html3' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug3' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html3' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Card Bottom Image --&gt;</strong>
                &lt;div class=&quot;card&quot;&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Card title here&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                    &lt;a class=&quot;btn btn-sm btn-accent mt-2&quot; href=&quot;#&quot;&gt;Go Somewhere&lt;/a&gt;
                  &lt;/div&gt;
                  &lt;img src=&quot;path-to-image&quot; alt=&quot;Card image&quot;&gt;
                &lt;/div&gt;
          div(id='pug3' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Card Bottom Image</strong>
                .card
                  .card-body
                    h4.card-title Card title here
                    p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    a(href=&quot;#&quot;).btn.btn-sm.btn-accent.mt-2 Go Somewhere
                  img(src=&quot;path-to-image&quot; alt=&quot;Card image&quot;)
