// Card Tabs Code
#card-tabs-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html7' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug7' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html7' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Card with Tabs --&gt;</strong>
                &lt;div class=&quot;card&quot;&gt;
                  &lt;div class=&quot;card-header&quot;&gt;
                    &lt;ul class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;&gt;
                      &lt;li class=&quot;nav-item&quot;&gt;
                        &lt;a class=&quot;nav-link active&quot; href=&quot;#&quot; data-toggle=&quot;tab&quot; role=&quot;tab&quot;
                          &gt;&lt;i class=&quot;fe-icon-home&quot;&gt;&lt;/i&gt;
                          &amp;nbsp;Home
                        &lt;/a&gt;
                      &lt;/li&gt;
                      &lt;li class=&quot;nav-item&quot;&gt;
                        &lt;a class=&quot;nav-link&quot; href=&quot;#&quot; data-toggle=&quot;tab&quot; role=&quot;tab&quot;&gt;
                          &lt;i class=&quot;fe-icon-user&quot;&gt;&lt;/i&gt;
                          &amp;nbsp;Profile
                        &lt;/a&gt;
                      &lt;/li&gt;
                      &lt;li class=&quot;nav-item&quot;&gt;
                        &lt;a class=&quot;nav-link&quot; href=&quot;#&quot; data-toggle=&quot;tab&quot; role=&quot;tab&quot;&gt;
                          &lt;i class=&quot;fe-icon-settings&quot;&gt;&lt;/i&gt;
                          &amp;nbsp;Settings
                        &lt;/a&gt;
                      &lt;/li&gt;
                    &lt;/ul&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;card-body text-center&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Special title treatment&lt;/h4&gt;
                    &lt;p class=&quot;card-text&quot;&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug7' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Card with Tabs</strong>
                .card
                  .card-header
                    ul(class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;)
                      li.nav-item
                        a(href=&quot;#&quot; class=&quot;nav-link active&quot; data-toggle=&quot;tab&quot; role=&quot;tab&quot;)
                          i.fe-icon-home
                          | &amp;nbsp;Home
                      li.nav-item
                        a(href=&quot;#&quot; class=&quot;nav-link&quot; data-toggle=&quot;tab&quot; role=&quot;tab&quot;)
                          i.fe-icon-user
                          | &amp;nbsp;Profile
                      li.nav-item
                        a(href=&quot;#&quot; class=&quot;nav-link&quot; data-toggle=&quot;tab&quot; role=&quot;tab&quot;)
                          i.fe-icon-settings
                          | &amp;nbsp;Settings
                  .card-body.text-center
                    h4.card-title Special title treatment
                    p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit...
