// Card Layout: Deck Code
#card-layout-deck-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html12' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug12' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html12' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Cards Layout: Deck --&gt;</strong>
                &lt;div class=&quot;card-deck&quot;&gt;

                  <strong>&lt;!-- Card --&gt;</strong>
                  &lt;div class=&quot;card mb-30&quot;&gt;
                    &lt;img src=&quot;path-to-image&quot; alt=&quot;Card image&quot;&gt;
                    &lt;div class=&quot;card-body&quot;&gt;
                      &lt;h4 class=&quot;card-title&quot;&gt;Card title here&lt;/h4&gt;
                      &lt;p class=&quot;card-text&quot;&gt;This is a wider card with...&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card-footer text-muted text-sm&quot;&gt;
                      &lt;span class=&quot;opacity-75&quot;&gt;Last updated 3 mins ago&lt;/span&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;

                  <strong>&lt;!-- Card --&gt;</strong>
                  &lt;div class=&quot;card mb-30&quot;&gt;
                    &lt;img src=&quot;path-to-image&quot; alt=&quot;Card image&quot;&gt;
                    &lt;div class=&quot;card-body&quot;&gt;
                      &lt;h4 class=&quot;card-title&quot;&gt;Card title here&lt;/h4&gt;
                      &lt;p class=&quot;card-text&quot;&gt;This card has supporting..&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card-footer text-muted text-sm&quot;&gt;
                      &lt;span class=&quot;opacity-75&quot;&gt;Last updated 3 mins ago&lt;/span&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;

                  <strong>&lt;!-- Card --&gt;</strong>
                  &lt;div class=&quot;card mb-30&quot;&gt;
                    &lt;img src=&quot;path-to-image&quot; alt=&quot;Card image&quot;&gt;
                    &lt;div class=&quot;card-body&quot;&gt;
                      &lt;h4 class=&quot;card-title&quot;&gt;Card title here&lt;/h4&gt;
                      &lt;p class=&quot;card-text&quot;&gt;This is a wider card...&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card-footer text-muted text-sm&quot;&gt;
                      &lt;span class=&quot;opacity-75&quot;&gt;Last updated 3 mins ago&lt;/span&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug12' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Cards Layout: Deck</strong>
                .card-deck

                  <strong>//- Card</strong>
                  .card.mb-30
                    img(src=&quot;path-to-image&quot; alt=&quot;Card image&quot;)
                    .card-body
                      h4.card-title Card title here
                      p.card-text This is a wider card...
                    .card-footer.text-muted.text-sm
                      span.opacity-75 Last updated 3 mins ago
                  
                  <strong>//- Card</strong>
                  .card.mb-30
                    img(src=&quot;path-to-image&quot; alt=&quot;Card image&quot;)
                    .card-body
                      h4.card-title Card title here
                      p.card-text This card has supporting...
                    .card-footer.text-muted.text-sm
                      span.opacity-75 Last updated 3 mins ago
                  
                  <strong>//- Card</strong>
                  .card.mb-30
                    img(src=&quot;path-to-image&quot; alt=&quot;Card image&quot;)
                    .card-body
                      h4.card-title Card title here
                      p.card-text This is a wider card...
                    .card-footer.text-muted.text-sm
                      span.opacity-75 Last updated 3 mins ago
