// Code Block Scrollable Code
#code-block-scrollable-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html4' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug4' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html4' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Code Block Scrollable --&gt;</strong>
                &lt;pre class=&quot;pre-scrollable text-md&quot;&gt;
                  Code goes here...
                &lt;/pre&gt;
          div(id='pug4' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Code Block Scrollable</strong>
                pre.pre-scrollable.text-md
                  | Code goes here...
