// Comment Code
#comment-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html2' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug2' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html2' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Comment --&gt;</strong>
                &lt;div class=&quot;blockquote comment&quot;&gt;
                  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing...&lt;/p&gt;
                  &lt;div class=&quot;d-sm-flex justify-content-between align-items-center&quot;&gt;
                    &lt;div class=&quot;testimonial-footer&quot;&gt;
                      &lt;div class=&quot;testimonial-avatar&quot;&gt;
                        &lt;img src=&quot;path-to-image&quot; alt=&quot;Comment Author Avatar&quot;/&gt;
                      &lt;/div&gt;
                      &lt;div class=&quot;d-table-cell align-middle pl-2&quot;&gt;
                        &lt;div class=&quot;blockquote-footer&quot;&gt;
                          Michael Davis
                          &lt;cite&gt;August 12, 2018 at 3:10PM&lt;/cite&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;pt-3&quot;&gt;
                      &lt;a class=&quot;btn btn-primary btn-sm&quot; href=&quot;#&quot;&gt;
                        &lt;i class=&quot;fe-icon-corner-up-left&quot;&gt;&lt;/i&gt;
                        &amp;nbsp;Reply
                      &lt;/a&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug2' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Comment</strong>
                .blockquote.comment
                  p Lorem ipsum dolor sit amet, consectetur adipisicing...
                  .d-sm-flex.justify-content-between.align-items-center
                    .testimonial-footer
                      .testimonial-avatar
                        +image(&quot;path-to-image&quot;, &quot;Comment Author Avatar&quot;)
                      .d-table-cell.align-middle.pl-2
                        .blockquote-footer
                          | Michael Davis
                          cite August 12, 2018 at 3:10PM
                    div.pt-3
                      a(href=&quot;#&quot;).btn.btn-primary.btn-sm
                        i.fe-icon-corner-up-left
                        | &amp;nbsp;Reply
