// Countdown Style 1 Code
#countdown-style1-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html2' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug2' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html2' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Countdown Style 1 --&gt;</strong>
                &lt;div class=&quot;countdown countdown-style-1 h4&quot; data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;Days&quot;, &quot;label-hour&quot;: &quot;Hours&quot;, &quot;label-minute&quot;: &quot;Minutes&quot;, &quot;label-second&quot;: &quot;Seconds&quot;}'&gt;&lt;/div&gt;
                
                <strong>&lt;!-- Light Skin --&gt;</strong>
                &lt;div class=&quot;countdown countdown-style-1 countdown-light-skin h4&quot; data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;Days&quot;, &quot;label-hour&quot;: &quot;Hours&quot;, &quot;label-minute&quot;: &quot;Minutes&quot;, &quot;label-second&quot;: &quot;Seconds&quot;}'&gt;&lt;/div&gt;
          div(id='pug2' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Countdown Style 1</strong>
                .countdown.countdown-style-1.h4(data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;Days&quot;, &quot;label-hour&quot;: &quot;Hours&quot;, &quot;label-minute&quot;: &quot;Minutes&quot;, &quot;label-second&quot;: &quot;Seconds&quot;}')
                
                <strong>//- Light Skin</strong>
                .countdown.countdown-style-1.countdown-light-skin.h4(data-date-time=&quot;10/10/2020 12:00&quot; data-labels='{&quot;label-day&quot;: &quot;Days&quot;, &quot;label-hour&quot;: &quot;Hours&quot;, &quot;label-minute&quot;: &quot;Minutes&quot;, &quot;label-second&quot;: &quot;Seconds&quot;}')
