// Forms Supported Types Code
#forms-supported-types-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html1' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug1' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html1' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Text Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;text-input&quot;&gt;Text&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;text-input&quot; value=&quot;Artisanal kale&quot;&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Search Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;search-input&quot;&gt;Search&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;search&quot; id=&quot;search-input&quot; value=&quot;How do I shoot web&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Email Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;email-input&quot;&gt;Email&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;email&quot; id=&quot;email-input&quot; value=&quot;email@example.com&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- URL Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;url-input&quot;&gt;URL&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;url&quot; id=&quot;url-input&quot; value=&quot;https://getbootstrap.com&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Phone Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;tel-input&quot;&gt;Phone&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;tel&quot; id=&quot;tel-input&quot; value=&quot;1-(770)-334-2518&quot;&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Password Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;pass-input&quot;&gt;Password&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;password&quot; id=&quot;pass-input&quot; value=&quot;mypasswordexample&quot;&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Textarea --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;textarea-input&quot;&gt;Textarea&lt;/label&gt;
                  &lt;textarea class=&quot;form-control&quot; id=&quot;textarea-input&quot; rows=&quot;5&quot;&gt;Hello World!&lt;/textarea&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Select --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;select-input&quot;&gt;Select&lt;/label&gt;
                  &lt;select class=&quot;form-control&quot; id=&quot;select-input&quot;&gt;
                    &lt;option&gt;Choose option...&lt;/option&gt;
                    &lt;option&gt;Option item 1&lt;/option&gt;
                    &lt;option&gt;Option item 2&lt;/option&gt;
                    &lt;option&gt;Option item 3&lt;/option&gt;
                  &lt;/select&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Multiselect --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;multiselect-input&quot;&gt;Multiselect&lt;/label&gt;
                  &lt;select class=&quot;form-control&quot; id=&quot;multiselect-input&quot; size=&quot;3&quot; multiple&gt;
                    &lt;option&gt;Option item 1&lt;/option&gt;
                    &lt;option&gt;Option item 2&lt;/option&gt;
                    &lt;option&gt;Option item 3&lt;/option&gt;
                    &lt;option&gt;Option item 4&lt;/option&gt;
                    &lt;option&gt;Option item 5&lt;/option&gt;
                    &lt;option&gt;Option item 6&lt;/option&gt;
                  &lt;/select&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- File Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;file-input&quot;&gt;File&lt;/label&gt;
                  &lt;div class=&quot;custom-file&quot;&gt;
                    &lt;input class=&quot;custom-file-input&quot; type=&quot;file&quot; id=&quot;file-input&quot;&gt;
                    &lt;label class=&quot;custom-file-label&quot; for=&quot;file-input&quot;&gt;Choose file...&lt;/label&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Number Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;number-input&quot;&gt;Number&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;number&quot; id=&quot;number-input&quot; value=&quot;37&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Date Time Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;date-time-input&quot;&gt;Date and time&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;datetime-local&quot; id=&quot;date-time-input&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Date Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;date-input&quot;&gt;Date&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;date&quot; id=&quot;date-input&quot; value=&quot;2018-06-13&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Month Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;month-input&quot;&gt;Month&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;month&quot; id=&quot;month-input&quot; value=&quot;2018-06&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Week Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;week-input&quot;&gt;Week&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;week&quot; id=&quot;week-input&quot; value=&quot;2018-W33&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Time Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;time-input&quot;&gt;Time&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;time&quot; id=&quot;time-input&quot; value=&quot;14:45:00&quot;&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Color Input --&gt;</strong>
                &lt;div class=&quot;form-group&quot;&gt;
                  &lt;label class=&quot;text-muted&quot; for=&quot;color-input&quot;&gt;Color&lt;/label&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;color&quot; id=&quot;color-input&quot; value=&quot;#f5f5f5&quot;&gt;
                &lt;/div&gt;
          div(id='pug1' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Text Input</strong>
                .form-group
                  label(for=&quot;text-input&quot;).text-muted Text
                  input(type=&quot;text&quot; id=&quot;text-input&quot; value=&quot;Artisanal kale&quot;).form-control

                <strong>//- Search Input</strong>
                .form-group
                  label(for=&quot;search-input&quot;).text-muted Search
                  input(type=&quot;search&quot; id=&quot;search-input&quot; value=&quot;How do I shoot web&quot;).form-control

                <strong>//- Email Input</strong>
                .form-group
                  label(for=&quot;email-input&quot;).text-muted Email
                  input(type=&quot;email&quot; id=&quot;email-input&quot; value=&quot;email@example.com&quot;).form-control
                
                <strong>//- URL Input</strong>
                .form-group
                  label(for=&quot;url-input&quot;).text-muted URL
                  input(type=&quot;url&quot; id=&quot;url-input&quot; value=&quot;https://getbootstrap.com&quot;).form-control
                
                <strong>//- Phone Input</strong>
                .form-group
                  label(for=&quot;tel-input&quot;).text-muted Phone
                  input(type=&quot;tel&quot; id=&quot;tel-input&quot; value=&quot;1-(770)-334-2518&quot;).form-control
                
                <strong>//- Password Input</strong>
                .form-group
                  label(for=&quot;pass-input&quot;).text-muted Password
                  input(type=&quot;password&quot; id=&quot;pass-input&quot; value=&quot;mypasswordexample&quot;).form-control
                
                <strong>//- Textarea</strong>
                .form-group
                  label(for=&quot;textarea-input&quot;).text-muted Textarea
                  textarea(id=&quot;textarea-input&quot; rows=&quot;5&quot;).form-control Hello World!
                
                <strong>//- Select</strong>
                .form-group
                  label(for=&quot;select-input&quot;).text-muted Select
                  select(id=&quot;select-input&quot;).form-control
                    option Choose option...
                    option Option item 1
                    option Option item 2
                    option Option item 3
                
                <strong>//- Multiselect</strong>
                .form-group
                  label(for=&quot;multiselect-input&quot;).text-muted Multiselect
                  select(id=&quot;multiselect-input&quot; size=&quot;3&quot; multiple).form-control
                    option Option item 1
                    option Option item 2
                    option Option item 3
                    option Option item 4
                    option Option item 5
                    option Option item 6

                <strong>//- File Input</strong>
                .form-group
                  label(for=&quot;file-input&quot;).text-muted File
                  .custom-file
                    input(type=&quot;file&quot; id=&quot;file-input&quot;).custom-file-input
                    label(for=&quot;file-input&quot;).custom-file-label Choose file...

                <strong>//- Number Input</strong>
                .form-group
                  label(for=&quot;number-input&quot;).text-muted Number
                  input(type=&quot;number&quot; id=&quot;number-input&quot; value=&quot;37&quot;).form-control
                
                <strong>//- Date Time Input</strong>
                .form-group
                  label(for=&quot;date-time-input&quot;).text-muted Date and time
                  input(type=&quot;datetime-local&quot; id=&quot;date-time-input&quot;).form-control
                
                <strong>//- Date Input</strong>
                .form-group
                  label(for=&quot;date-input&quot;).text-muted Date
                  input(type=&quot;date&quot; id=&quot;date-input&quot; value=&quot;2017-06-13&quot;).form-control
                
                <strong>//- Month Input</strong>
                .form-group
                  label(for=&quot;month-input&quot;).text-muted Month
                  input(type=&quot;month&quot; id=&quot;month-input&quot; value=&quot;2017-06&quot;).form-control
                
                <strong>//- Week Input</strong>
                .form-group
                  label(for=&quot;week-input&quot;).text-muted Week
                  input(type=&quot;week&quot; id=&quot;week-input&quot; value=&quot;2017-W33&quot;).form-control
                
                <strong>//- Time Input</strong>
                .form-group
                  label(for=&quot;time-input&quot;).text-muted Time
                  input(type=&quot;time&quot; id=&quot;time-input&quot; value=&quot;14:45:00&quot;).form-control
                
                <strong>//- Color Input</strong>
                .form-group
                  label(for=&quot;color-input&quot;).text-muted Color
                  input(type=&quot;color&quot; id=&quot;color-input&quot; value=&quot;#f5f5f5&quot;).form-control
