// Image Shapes Code
#images-shapes-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html1' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug1' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html1' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Default Image --&gt;</strong>
                &lt;img src=&quot;path-to-image&quot; alt=&quot;Image square&quot;&gt;

                <strong>&lt;!-- Rounded Image --&gt;</strong>
                &lt;img class=&quot;rounded&quot; src=&quot;path-to-image&quot; alt=&quot;Image rounded&quot;&gt;

                <strong>&lt;!-- Circle Image --&gt;</strong>
                &lt;img class=&quot;rounded-circle&quot; src=&quot;path-to-image&quot; alt=&quot;Image circle&quot;&gt;
          div(id='pug1' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Default Image</strong>
                img(src=&quot;path-to-image&quot; alt=&quot;Image square&quot;)

                <strong>//- Rounded Image</strong>
                img(src=&quot;path-to-image&quot; alt=&quot;Image rounded&quot;).rounded

                <strong>//- Circle Image</strong>
                img(src=&quot;path-to-image&quot; alt=&quot;Image circle&quot;).rounded-circle
