// Input Group Addon Position Code
#input-group-addon-position-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html1' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug1' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html1' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Addon on the Left --&gt;</strong>
                &lt;div class=&quot;input-group&quot;&gt;
                  &lt;div class=&quot;input-group-prepend&quot;&gt;
                    &lt;span class=&quot;input-group-text&quot;&gt;&lt;i class=&quot;fe-icon-lock&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                  &lt;/div&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;password&quot; placeholder=&quot;Password&quot;&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Addon on the Right --&gt;</strong>
                &lt;div class=&quot;input-group&quot;&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Recipient's e-mail&quot;&gt;
                  &lt;div class=&quot;input-group-append&quot;&gt;
                    &lt;span class=&quot;input-group-text&quot;&gt;@example.com&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Addon on Both Sides --&gt;</strong>
                &lt;div class=&quot;input-group&quot;&gt;
                  &lt;div class=&quot;input-group-prepend&quot;&gt;
                    &lt;span class=&quot;input-group-text&quot;&gt;&lt;i class=&quot;fe-icon-dollar-sign&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                  &lt;/div&gt;
                  &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Amount&quot;&gt;
                  &lt;div class=&quot;input-group-append&quot;&gt;
                    &lt;span class=&quot;input-group-text&quot;&gt;.00&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug1' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Addon on the Left</strong>
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      i.fe-icon-lock
                  input(type=&quot;password&quot; placeholder=&quot;Password&quot;).form-control
                
                <strong>//- Addon on the Right</strong>
                .input-group
                  input(type=&quot;text&quot; placeholder=&quot;Recipient's e-mail&quot;).form-control
                  .input-group-append
                    span.input-group-text @example.com
                
                <strong>//- Addon on Both Sides</strong>
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      i.fe-icon-dollar-sign
                  input(type=&quot;text&quot; placeholder=&quot;Amount&quot;).form-control
                  .input-group-append
                    span.input-group-text .00
