// List Group Basic Example Code
#list-group-basic-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html1' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug1' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html1' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- List Group Basic Example --&gt;</strong>
                &lt;ul class=&quot;list-group&quot;&gt;
                  &lt;li class=&quot;list-group-item&quot;&gt;Cras justo odio&lt;/li&gt;
                  &lt;li class=&quot;list-group-item active&quot;&gt;Dapibus ac facilisis (active)&lt;/li&gt;
                  &lt;li class=&quot;list-group-item&quot;&gt;Morbi leo risus&lt;/li&gt;
                  &lt;li class=&quot;list-group-item disabled&quot;&gt;Vestibulum at eros (disabled)&lt;/li&gt;
                &lt;/ul&gt;
          div(id='pug1' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- List Group Basic Example</strong>
                ul.list-group
                  li.list-group-item Cras justo odio
                  li.list-group-item.active Dapibus ac facilisis (active)
                  li.list-group-item Morbi leo risus
                  li.list-group-item.disabled Vestibulum at eros (disabled)
