// List Group Contextual Classes Code
#list-group-contextual-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html5' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug5' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html5' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- List Group Contextual Classes --&gt;</strong>
                &lt;ul class=&quot;list-group&quot;&gt;
                  &lt;li class=&quot;list-group-item&quot;&gt;Dapibus ac facilisis in&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-primary&quot;&gt;A simple primary list group item&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-secondary&quot;&gt;A simple secondary list group item&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-accent&quot;&gt;A simple accent list group item&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-info&quot;&gt;A simple info list group item&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-success&quot;&gt;A simple success list group item&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-warning&quot;&gt;A simple warning list group item&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-danger&quot;&gt;A simple danger list group item&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-light&quot;&gt;A simple light list group item&lt;/li&gt;
                  &lt;li class=&quot;list-group-item list-group-item-dark&quot;&gt;A simple dark list group item&lt;/li&gt;
                &lt;/ul&gt;
          div(id='pug5' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- List Group Contextual Classes</strong>
                ul.list-group
                  li.list-group-item Dapibus ac facilisis in
                  li.list-group-item.list-group-item-primary A simple primary list group item
                  li.list-group-item.list-group-item-secondary A simple secondary list group item
                  li.list-group-item.list-group-item-accent A simple accent list group item
                  li.list-group-item.list-group-item-info A simple info list group item
                  li.list-group-item.list-group-item-success A simple success list group item
                  li.list-group-item.list-group-item-warning A simple warning list group item
                  li.list-group-item.list-group-item-danger A simple danger list group item
                  li.list-group-item.list-group-item-light A simple light list group item
                  li.list-group-item.list-group-item-dark A simple dark list group item
