// Map inside Card Code
#maps-card-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        p.mb-0 To be able to use Google Maps on your website you have to <strong>register Maps Javascript API key (Make sure to enable Geocoding API as well).</strong><br>Please follow the link below for the instructions.
        a(href='https://developers.google.com/maps/documentation/javascript/get-api-key' target='_blank').d-block.mb-4 https://developers.google.com/maps/documentation/javascript/get-api-key
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html4' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug4' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html4' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Map Inside Card --&gt;</strong>
                &lt;div class=&quot;card&quot;&gt;
                  &lt;div class=&quot;google-map&quot; data-height=&quot;270&quot; data-address=&quot;89 Clinton Dr. Holbrook, NY 11741, USA&quot; data-zoom=&quot;9&quot; data-disable-controls=&quot;true&quot; data-scrollwheel=&quot;true&quot; data-marker=&quot;path-to-map-marker-image&quot; data-marker-title=&quot;We are here!&quot;&gt;&lt;/div&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;ul class=&quot;list-icon mb-2&quot;&gt;
                      &lt;li&gt;&lt;i class=&quot;fe-icon-map-pin text-muted&quot;&gt;&lt;/i&gt;89 Clinton Dr. Holbrook, NY 11741, USA&lt;/li&gt;
                      &lt;li&gt;&lt;i class=&quot;fe-icon-phone text-muted&quot;&gt;&lt;/i&gt;+1 (212) 477 690 000&lt;/li&gt;
                      &lt;li&gt;&lt;i class=&quot;fe-icon-mail text-muted&quot;&gt;&lt;/i&gt;email@example.com&lt;/li&gt;
                    &lt;/ul&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug4' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Map Inside Card</strong>
                .card
                  .google-map(
                    data-height = &quot;270&quot;,
                    data-address = &quot;89 Clinton Dr. Holbrook, NY 11741, USA&quot;,
                    data-zoom = &quot;9&quot;,
                    data-disable-controls = &quot;true&quot;,
                    data-scrollwheel = &quot;true&quot;,
                    data-marker = &quot;path-to-map-marker-image&quot;,
                    data-marker-title = &quot;We are here!&quot;
                  )
                  .card-body
                    ul.list-icon.mb-2
                      li 
                        i.fe-icon-map-pin.text-muted
                        | 89 Clinton Dr. Holbrook, NY 11741, USA
                      li 
                        i.fe-icon-phone.text-muted
                        | +1 (212) 477 690 000
                      li 
                        i.fe-icon-mail.text-muted
                        | email@example.com
