// Pills Right Aligned Code
#pills-right-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html6' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug6' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html6' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Pills Right Aligned --&gt;</strong>
                &lt;ul class=&quot;nav nav-pills justify-content-end&quot;&gt;
                  &lt;li class=&quot;nav-item&quot;&gt;
                    &lt;a class=&quot;nav-link active&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;nav-item&quot;&gt;
                    &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Profile&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;nav-item&quot;&gt;
                    &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Settings&lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
          div(id='pug6' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Pills Right Aligned</strong>
                ul(class=&quot;nav nav-pills justify-content-end&quot;)
                  li.nav-item: a(href=&quot;#&quot; class=&quot;nav-link active&quot;) Home
                  li.nav-item: a(href=&quot;#&quot; class=&quot;nav-link&quot;) Profile
                  li.nav-item: a(href=&quot;#&quot; class=&quot;nav-link&quot;) Settings
