// Portfolio List View Code
#portfolio-style3-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html3' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug3' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html3' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Portfolio List View --&gt;</strong>
                &lt;div class=&quot;card portfolio-card portfolio-list&quot;&gt;
                  &lt;a class=&quot;portfolio-thumb&quot; href=&quot;#&quot; style=&quot;background-image: url(path-to-background-image);&quot;&gt;&lt;/a&gt;
                  &lt;div class=&quot;card-body&quot;&gt;
                    &lt;div class=&quot;portfolio-meta&quot;&gt;
                      &lt;span class=&quot;mr-3&quot;&gt;&lt;i class=&quot;fe-icon-user&quot;&gt;&lt;/i&gt;William Smith&lt;/span&gt;
                      &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fe-icon-heart text-accent&quot;&gt;&lt;/i&gt;12&lt;/a&gt;
                    &lt;/div&gt;
                    &lt;h5 class=&quot;portfolio-title&quot;&gt;
                      &lt;a href=&quot;#&quot;&gt;iOS App UI Design&lt;/a&gt;
                    &lt;/h5&gt;
                    &lt;p class=&quot;text-muted&quot;&gt;Sed ut perspiciatis unde omnis...&lt;/p&gt;
                    &lt;a class=&quot;tag-link&quot; href=&quot;#&quot;&gt;Mobile Apps&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug3' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Portfolio List View</strong>
                .card.portfolio-card.portfolio-list
                  a(href=&quot;#&quot; style=&quot;background-image: url(path-to-background-image);&quot;).portfolio-thumb
                  .card-body
                    .portfolio-meta
                      span.mr-3
                        i.fe-icon-user
                        | William Smith
                      a(href=&quot;#&quot;)
                        i.fe-icon-heart.text-accent
                        | 12
                    h5.portfolio-title: a(href=&quot;#&quot;) iOS App UI Design
                    p.text-muted Sed ut perspiciatis unde omnis...
                    a(href=&quot;#&quot;).tag-link Mobile Apps
