// Pricing Style 1 (Default) Code
#pricing-style1-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html1' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug1' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html1' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Pricing Style 1 (Default) --&gt;</strong>
                &lt;div class=&quot;pricing-plans&quot;&gt;

                  <strong>&lt;!-- Pricing Switch --&gt;</strong>
                  &lt;ul class=&quot;nav nav-tabs nav-tabs-style-3 pricing-tabs justify-content-end&quot;&gt;
                    &lt;li class=&quot;nav-item&quot;&gt;
                      &lt;a class=&quot;nav-link active&quot; href=&quot;#&quot; data-toggle=&quot;price&quot; data-period=&quot;monthly&quot;&gt;Monthly&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;nav-item&quot;&gt;
                      &lt;a class=&quot;nav-link&quot; href=&quot;#&quot; data-toggle=&quot;price&quot; data-period=&quot;yearly&quot;&gt;Yearly&amp;nbsp;&lt;sup&gt;-20%&lt;/sup&gt;&lt;/a&gt;
                    &lt;/li&gt;
                  &lt;/ul&gt;
                  &lt;div class=&quot;row&quot;&gt;

                    <strong>&lt;!-- Pricing Plan--&gt;</strong>
                    &lt;div class=&quot;col-xl-4 col-sm-6 mb-30 pb-3&quot;&gt;
                      &lt;div class=&quot;pricing-card&quot;&gt;
                        &lt;span class=&quot;badge badge-success&quot;&gt;Best Offer&lt;/span&gt;
                        &lt;div class=&quot;pricing-card-body&quot;&gt;
                          &lt;img class=&quot;pricing-card-image&quot; src=&quot;path-to-image&quot; alt=&quot;Starter Plan&quot;&gt;
                          &lt;h5&gt;Starter&lt;/h5&gt;
                          &lt;div class=&quot;pricing-card-price monthly active&quot;&gt;&lt;span&gt;$&lt;/span&gt;40&lt;/div&gt;
                          &lt;div class=&quot;pricing-card-price yearly&quot;&gt;&lt;span&gt;$&lt;/span&gt;32&lt;/div&gt;
                          &lt;span class=&quot;text-muted&quot;&gt;per month&lt;/span&gt;
                          &lt;ul class=&quot;list-icon d-table mx-auto pt-4 text-left&quot;&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Storage space: &lt;strong&gt;4GB&lt;/strong&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Community support&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Expert reviews: &lt;strong&gt;5 projects&lt;/strong&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Traffic: &lt;strong&gt;2GB&lt;/strong&gt;&lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;pricing-card-button&quot;&gt;&lt;a class=&quot;btn btn-style-5 btn-primary&quot; href=&quot;#&quot;&gt;Buy Now&lt;/a&gt;&lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;

                    <strong>&lt;!-- Pricing Plan--&gt;</strong>
                    &lt;div class=&quot;col-xl-4 col-sm-6 mb-30 pb-3&quot;&gt;
                      &lt;div class=&quot;pricing-card border-primary&quot;&gt;
                        &lt;span class=&quot;badge badge-warning&quot;&gt;Most Popular&lt;/span&gt;
                        &lt;div class=&quot;pricing-card-body&quot;&gt;
                          &lt;img class=&quot;pricing-card-image&quot; src=&quot;path-to-image&quot; alt=&quot;Team Plan&quot;&gt;
                          &lt;h5&gt;Team&lt;/h5&gt;
                          &lt;div class=&quot;pricing-card-price monthly active&quot;&gt;&lt;span&gt;$&lt;/span&gt;70&lt;/div&gt;
                          &lt;div class=&quot;pricing-card-price yearly&quot;&gt;&lt;span&gt;$&lt;/span&gt;56&lt;/div&gt;
                          &lt;span class=&quot;text-muted&quot;&gt;per month&lt;/span&gt;
                          &lt;ul class=&quot;list-icon d-table mx-auto pt-4 text-left&quot;&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Storage space: &lt;strong&gt;16GB&lt;/strong&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Premium support 24/7&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Expert reviews: &lt;strong&gt;10 projects&lt;/strong&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Traffic: &lt;strong&gt;5GB&lt;/strong&gt;&lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;pricing-card-button&quot;&gt;&lt;a class=&quot;btn btn-style-5 btn-gradient&quot; href=&quot;#&quot;&gt;Buy Now&lt;/a&gt;&lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                    
                    <strong>&lt;!-- Pricing Plan--&gt;</strong>
                    &lt;div class=&quot;col-xl-4 col-sm-6 mb-30 pb-3&quot;&gt;
                      &lt;div class=&quot;pricing-card&quot;&gt;
                        &lt;span class=&quot;badge badge-danger&quot;&gt;Rich Features&lt;/span&gt;
                        &lt;div class=&quot;pricing-card-body&quot;&gt;
                          &lt;img class=&quot;pricing-card-image&quot; src=&quot;path-to-image&quot; alt=&quot;Premium Plan&quot;&gt;
                          &lt;h5&gt;Premium&lt;/h5&gt;
                          &lt;div class=&quot;pricing-card-price monthly active&quot;&gt;&lt;span&gt;$&lt;/span&gt;100&lt;/div&gt;
                          &lt;div class=&quot;pricing-card-price yearly&quot;&gt;&lt;span&gt;$&lt;/span&gt;80&lt;/div&gt;
                          &lt;span class=&quot;text-muted&quot;&gt;per month&lt;/span&gt;
                          &lt;ul class=&quot;list-icon d-table mx-auto pt-4 text-left&quot;&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Storage space: &lt;strong&gt;Unlimited&lt;/strong&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Premium support 24/7&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Expert reviews: &lt;strong&gt;Unlimited&lt;/strong&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;i class=&quot;fe-icon-check-circle text-muted&quot;&gt;&lt;/i&gt;Traffic: &lt;strong&gt;Unlimited&lt;/strong&gt;&lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;pricing-card-button&quot;&gt;&lt;a class=&quot;btn btn-style-5 btn-primary&quot; href=&quot;#&quot;&gt;Buy Now&lt;/a&gt;&lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug1' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Pricing Style 1 (Default)</strong>
                .pricing-plans

                  <strong>//- Pricing Switch</strong>
                  ul.nav.nav-tabs.nav-tabs-style-3.pricing-tabs.justify-content-end
                    li.nav-item
                      a(href=&quot;#&quot; class=&quot;nav-link active&quot; data-toggle=&quot;price&quot; data-period=&quot;monthly&quot;) Monthly
                    li.nav-item
                      a(href=&quot;#&quot; class=&quot;nav-link&quot; data-toggle=&quot;price&quot; data-period=&quot;yearly&quot;)
                        | Yearly&amp;nbsp;
                        sup -20%
                  .row

                    <strong>//- Pricing Plan</strong>
                    .col-xl-4.col-sm-6.mb-30.pb-3
                      .pricing-card
                        span.badge.badge-success Best Offer
                        .pricing-card-body
                          img(src=&quot;path-to-image&quot; alt=&quot;Starter Plan&quot;).pricing-card-image
                          h5 Starter
                          .pricing-card-price.monthly.active &lt;span&gt;$&lt;/span&gt;40
                          .pricing-card-price.yearly &lt;span&gt;$&lt;/span&gt;32
                          span.text-muted per month
                          ul.list-icon.d-table.mx-auto.pt-4.text-left
                            li
                              i.fe-icon-check-circle.text-muted
                              | Storage space: &lt;strong&gt;4GB&lt;/strong&gt;
                            li
                              i.fe-icon-check-circle.text-muted
                              | Community support
                            li
                              i.fe-icon-check-circle.text-muted
                              | Expert reviews: &lt;strong&gt;5 projects&lt;/strong&gt;
                            li
                              i.fe-icon-check-circle.text-muted
                              | Traffic: &lt;strong&gt;2GB&lt;/strong&gt;
                        .pricing-card-button
                          a(href=&quot;#&quot;).btn.btn-style-5.btn-primary Buy Now

                    <strong>//- Pricing Plan</strong>
                    .col-xl-4.col-sm-6.mb-30.pb-3
                      .pricing-card.border-primary
                        span.badge.badge-warning Most Popular
                        .pricing-card-body
                          img(src=&quot;path-to-image&quot; alt=&quot;Team Plan&quot;).pricing-card-image
                          h5 Team
                          .pricing-card-price.monthly.active &lt;span&gt;$&lt;/span&gt;70
                          .pricing-card-price.yearly &lt;span&gt;$&lt;/span&gt;56
                          span.text-muted per month
                          ul.list-icon.d-table.mx-auto.pt-4.text-left
                            li
                              i.fe-icon-check-circle.text-muted
                              | Storage space: &lt;strong&gt;16GB&lt;/strong&gt;
                            li
                              i.fe-icon-check-circle.text-muted
                              | Premium support 24/7
                            li
                              i.fe-icon-check-circle.text-muted
                              | Expert reviews: &lt;strong&gt;10 projects&lt;/strong&gt;
                            li
                              i.fe-icon-check-circle.text-muted
                              | Traffic: &lt;strong&gt;5GB&lt;/strong&gt;
                        .pricing-card-button
                          a(href=&quot;#&quot;).btn.btn-style-5.btn-gradient Buy Now

                    <strong>//- Pricing Plan</strong>
                    .col-xl-4.col-sm-6.mb-30.pb-3
                      .pricing-card
                        span.badge.badge-danger Rich Features
                        .pricing-card-body
                          img(src=&quot;path-to-image&quot; alt=&quot;Premium Plan&quot;).pricing-card-image
                          h5 Premium
                          .pricing-card-price.monthly.active &lt;span&gt;$&lt;/span&gt;100
                          .pricing-card-price.yearly &lt;span&gt;$&lt;/span&gt;80
                          span.text-muted per month
                          ul.list-icon.d-table.mx-auto.pt-4.text-left
                            li
                              i.fe-icon-check-circle.text-muted
                              | Storage space: &lt;strong&gt;Unlimited&lt;/strong&gt;
                            li
                              i.fe-icon-check-circle.text-muted
                              | Premium support 24/7
                            li
                              i.fe-icon-check-circle.text-muted
                              | Expert reviews: &lt;strong&gt;Unlimited&lt;/strong&gt;
                            li
                              i.fe-icon-check-circle.text-muted
                              | Traffic: &lt;strong&gt;Unlimited&lt;/strong&gt;
                        .pricing-card-button
                          a(href=&quot;#&quot;).btn.btn-style-5.btn-primary Buy Now
