// Progress Style 1 (Default) Code
#progress-style1-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        p.mb-4 Use background utility classes to change the appearance of individual progress bars. For example, to dispaly Info (blue) color progress bar add <code>bg-info</code> class to individual <code>progress-bar</code>.
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html1' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug1' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html1' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Progress Primary (Style 1) --&gt;</strong>
                &lt;div class=&quot;progress&quot;&gt;
                  &lt;div class=&quot;progress-bar&quot; role=&quot;progressbar&quot; style=&quot;width: 60%;&quot; aria-valuenow=&quot;60&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;
                    &lt;span&gt;&lt;i class=&quot;fe-icon-globe&quot;&gt;&lt;/i&gt;Web Development - 60%&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Progress Multiple Bars (Style 1) --&gt;</strong>
                &lt;div class=&quot;progress&quot;&gt;
                  &lt;div class=&quot;progress-bar bg-success&quot; role=&quot;progressbar&quot; style=&quot;width: 20%;&quot; aria-valuenow=&quot;20&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
                  &lt;div class=&quot;progress-bar bg-info&quot; role=&quot;progressbar&quot; style=&quot;width: 30%;&quot; aria-valuenow=&quot;30&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
                  &lt;div class=&quot;progress-bar bg-warning&quot; role=&quot;progressbar&quot; style=&quot;width: 25%;&quot; aria-valuenow=&quot;25&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Progress Striped Animated (Style 1) --&gt;</strong>
                &lt;div class=&quot;progress&quot;&gt;
                  &lt;div class=&quot;progress-bar progress-bar-striped progress-bar-animated&quot; role=&quot;progressbar&quot; style=&quot;width: 60%;&quot; aria-valuenow=&quot;60&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
                &lt;/div&gt;

                <strong>&lt;!-- Progress Light Skin (Style 1) --&gt;</strong>
                &lt;div class=&quot;progress progress-light-skin&quot;&gt;
                  &lt;div class=&quot;progress-bar&quot; role=&quot;progressbar&quot; style=&quot;width: 60%;&quot; aria-valuenow=&quot;60&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;
                    &lt;span&gt;&lt;i class=&quot;fe-icon-globe&quot;&gt;&lt;/i&gt;Web Development - 60%&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug1' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Progress Primary (Style 1)</strong>
                .progress
                  .progress-bar(role=&quot;progressbar&quot; style=&quot;width: 60%;&quot; aria-valuenow=&quot;60&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;)
                    span
                      i.fe-icon-globe
                      | Web Development - 60%

                <strong>//- Progress Multiple Bars (Style 1)</strong>
                .progress
                  .progress-bar.bg-success(role=&quot;progressbar&quot; style=&quot;width: 20%;&quot; aria-valuenow=&quot;20&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;)
                  .progress-bar.bg-info(role=&quot;progressbar&quot; style=&quot;width: 30%;&quot; aria-valuenow=&quot;30&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;)
                  .progress-bar.bg-warning(role=&quot;progressbar&quot; style=&quot;width: 25%;&quot; aria-valuenow=&quot;25&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;)

                <strong>//- Progress Striped Animated (Style 1)</strong>
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-animated((role=&quot;progressbar&quot; style=&quot;width: 60%;&quot; aria-valuenow=&quot;60&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;)
                
                <strong>//- Progress Light Skin (Style 1)</strong>
                .progress.progress-light-skin
                  .progress-bar(role=&quot;progressbar&quot; style=&quot;width: 60%;&quot; aria-valuenow=&quot;60&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;)
                    span
                      i.fe-icon-globe
                      | Web Development - 60%
