// Table Contextual Colors Code
#tables-contextual-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html7' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug7' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html7' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Table Contextual Colors --&gt;</strong>
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table&quot;&gt;
                    &lt;thead&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;Class&lt;/th&gt;
                        &lt;th&gt;Heading&lt;/th&gt;
                        &lt;th&gt;Heading&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr class=&quot;table-active&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;Active&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;table-primary&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Primary&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;table-secondary&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Secondary&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;table-accent&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;4&lt;/th&gt;
                        &lt;td&gt;Accent&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;table-success&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;5&lt;/th&gt;
                        &lt;td&gt;Success&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;table-info&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;6&lt;/th&gt;
                        &lt;td&gt;Info&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;table-warning&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;7&lt;/th&gt;
                        &lt;td&gt;Warning&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;table-danger&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;8&lt;/th&gt;
                        &lt;td&gt;Danger&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;
                
                <strong>&lt;!-- Inverse Table Contextual Colors --&gt;</strong>
                &lt;div class=&quot;table-responsive&quot;&gt;
                  &lt;table class=&quot;table table-dark&quot;&gt;
                    &lt;thead&gt;
                      &lt;tr&gt;
                        &lt;th&gt;#&lt;/th&gt;
                        &lt;th&gt;Column heading&lt;/th&gt;
                        &lt;th&gt;Column heading&lt;/th&gt;
                        &lt;th&gt;Column heading&lt;/th&gt;
                      &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                      &lt;tr class=&quot;bg-primary&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;bg-accent&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;bg-gradient&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;bg-success&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;4&lt;/th&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;bg-info&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;5&lt;/th&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;bg-warning&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;6&lt;/th&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                      &lt;tr class=&quot;bg-danger&quot;&gt;
                        &lt;th scope=&quot;row&quot;&gt;8&lt;/th&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                        &lt;td&gt;Column content&lt;/td&gt;
                      &lt;/tr&gt;
                    &lt;/tbody&gt;
                  &lt;/table&gt;
                &lt;/div&gt;
          div(id='pug7' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Table Contextual Colors</strong>
                .table-responsive
                  table.table
                    thead
                      tr
                        th #
                        th Class
                        th Heading
                        th Heading
                    tbody
                      tr.table-active
                        th(scope=&quot;row&quot;) 1
                        td Active
                        td Column content
                        td Column content
                      tr.table-primary
                        th(scope=&quot;row&quot;) 2
                        td Primary
                        td Column content
                        td Column content
                      tr.table-secondary
                        th(scope=&quot;row&quot;) 3
                        td Secondary
                        td Column content
                        td Column content
                      tr.table-accent
                        th(scope=&quot;row&quot;) 4
                        td Accent
                        td Column content
                        td Column content
                      tr.table-success
                        th(scope=&quot;row&quot;) 5
                        td Success
                        td Column content
                        td Column content
                      tr.table-info
                        th(scope=&quot;row&quot;) 6
                        td Info
                        td Column content
                        td Column content
                      tr.table-warning
                        th(scope=&quot;row&quot;) 7
                        td Warning
                        td Column content
                        td Column content
                      tr.table-danger
                        th(scope=&quot;row&quot;) 8
                        td Danger
                        td Column content
                        td Column content

                <strong>//- Inverse Table Contextual Colors</strong>
                .table-responsive
                  table.table.table-dark
                    thead
                      tr
                        th #
                        th Column heading
                        th Column heading
                        th Column heading
                    tbody
                      tr.bg-primary
                        th(scope=&quot;row&quot;) 1
                        td Column content
                        td Column content
                        td Column content
                      tr.bg-accent
                        th(scope=&quot;row&quot;) 2
                        td Column content
                        td Column content
                        td Column content
                      tr.bg-gradient
                        th(scope=&quot;row&quot;) 3
                        td Column content
                        td Column content
                        td Column content
                      tr.bg-success
                        th(scope=&quot;row&quot;) 4
                        td Column content
                        td Column content
                        td Column content
                      tr.bg-info
                        th(scope=&quot;row&quot;) 5
                        td Column content
                        td Column content
                        td Column content
                      tr.bg-warning
                        th(scope=&quot;row&quot;) 6
                        td Column content
                        td Column content
                        td Column content
                      tr.bg-danger
                        th(scope=&quot;row&quot;) 7
                        td Column content
                        td Column content
                        td Column content
