// Typography: Inline Text Elements Code
#typography-inline-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html5' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug5' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html5' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Typography: Inline Text Elements --&gt;</strong>
                &lt;p&gt;You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text.&lt;/p&gt;
                &lt;p&gt;&lt;del&gt;This line of text is meant to be treated as deleted text.&lt;/del&gt;&lt;/p&gt;
                &lt;p&gt;&lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;&lt;/p&gt;
                &lt;p&gt;&lt;ins&gt;This line of text is meant to be treated as an addition to the document.&lt;/ins&gt;&lt;/p&gt;
                &lt;p&gt;&lt;u&gt;This line of text will render as underlined&lt;/u&gt;&lt;/p&gt;
                &lt;p&gt;&lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;&lt;/p&gt;
                &lt;p&gt;&lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;&lt;/p&gt;
                &lt;p&gt;&lt;em&gt;This line rendered as italicized text.&lt;/em&gt;&lt;/p&gt;
          div(id='pug5' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Typography: Inline Text Elements</strong>
                p You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text.
                p &lt;del&gt;This line of text is meant to be treated as deleted text.&lt;/del&gt;
                p &lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;
                p &lt;ins&gt;This line of text is meant to be treated as an addition to the document.&lt;/ins&gt;
                p &lt;u&gt;This line of text will render as underlined&lt;/u&gt;
                p &lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;
                p &lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;
                p &lt;em&gt;This line rendered as italicized text.&lt;/em&gt;
