// Utilities: Borders Code
#utilities-borders-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        p.mb-4 Apply via set of CSS classes: <code>border</code>, <code>border-top</code>, <code>border-right</code>, <code>border-bottom</code>, <code>border-left</code>.
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html6' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug6' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html6' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Utilities: Borders --&gt;</strong>
                &lt;div class=&quot;bg-secondary border border-dark mb-3&quot; style=&quot;width: 130px; height: 130px&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;bg-secondary border-top border-dark mb-3&quot; style=&quot;width: 130px; height: 130px&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;bg-secondary border-right border-dark mb-3&quot; style=&quot;width: 130px; height: 130px&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;bg-secondary border-bottom border-dark mb-3&quot; style=&quot;width: 130px; height: 130px&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;bg-secondary border-left border-dark mb-3&quot; style=&quot;width: 130px; height: 130px&quot;&gt;&lt;/div&gt;
          div(id='pug6' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Utilities: Borders</strong>
                div(style=&quot;width: 130px; height: 130px&quot;).bg-secondary.border.border-dark.mb-3
                div(style=&quot;width: 130px; height: 130px&quot;).bg-secondary.border-top.border-dark.mb-3
                div(style=&quot;width: 130px; height: 130px&quot;).bg-secondary.border-right.border-dark.mb-3
                div(style=&quot;width: 130px; height: 130px&quot;).bg-secondary.border-bottom.border-dark.mb-3
                div(style=&quot;width: 130px; height: 130px&quot;).bg-secondary.border-left.border-dark.mb-3
