// Utilities: Alignment Code
#utilities-alignment-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        p.mb-4 Available for all <strong>grid tiers (xl, lg, md, sm)</strong>. <a href='https://getbootstrap.com/docs/4.1/utilities/text/#text-alignment' target='_blank'>Read more here.</a>
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html5' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug5' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html5' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Utilities: Alignment --&gt;</strong>
                &lt;div class=&quot;text-left&quot;&gt;Left aligned text&lt;/div&gt;
                &lt;div class=&quot;text-center&quot;&gt;Center aligned text&lt;/div&gt;
                &lt;div class=&quot;text-right&quot;&gt;Right aligned text&lt;/div&gt;
          div(id='pug5' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Utilities: Alignment</strong>
                .text-left Left aligned text
                .text-center Center aligned text
                .text-right Right aligned text
