// Utilities: Background Colors Code
#utilities-backgrounds-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html2' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug2' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html2' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Utilities: Background Colors --&gt;</strong>
                &lt;div class=&quot;text-white bg-primary p-2&quot;&gt;&lt;strong&gt;Primary BG.&lt;/strong&gt; Lorem ipsum dolor...&lt;/div&gt;
                &lt;div class=&quot;text-white bg-accent p-2&quot;&gt;&lt;strong&gt;Accent BG.&lt;/strong&gt; Lorem ipsum dolor...&lt;/div&gt;
                &lt;div class=&quot;text-white bg-info p-2&quot;&gt;&lt;strong&gt;Info BG.&lt;/strong&gt; Lorem ipsum dolor...&lt;/div&gt;
                &lt;div class=&quot;text-white bg-success p-2&quot;&gt;&lt;strong&gt;Success BG.&lt;/strong&gt; Lorem ipsum dolor...&lt;/div&gt;
                &lt;div class=&quot;text-white bg-warning p-2&quot;&gt;&lt;strong&gt;Warning BG.&lt;/strong&gt; Lorem ipsum dolor...&lt;/div&gt;
                &lt;div class=&quot;text-white bg-danger p-2&quot;&gt;&lt;strong&gt;Danger BG.&lt;/strong&gt; Lorem ipsum dolor...&lt;/div&gt;
                &lt;div class=&quot;text-white bg-dark p-2&quot;&gt;&lt;strong&gt;Dark BG.&lt;/strong&gt; Lorem ipsum dolor...&lt;/div&gt;
                &lt;div class=&quot;bg-secondary p-2&quot;&gt;&lt;strong&gt;Secondary BG.&lt;/strong&gt; Lorem ipsum dolor...&lt;/div&gt;
          div(id='pug2' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Utilities: Background Colors</strong>
                .text-white.bg-primary.p-2 &lt;strong&gt;Primary BG.&lt;/strong&gt; Lorem ipsum dolor...
                .text-white.bg-accent.p-2 &lt;strong&gt;Accenty BG.&lt;/strong&gt; Lorem ipsum dolor...
                .text-white.bg-info.p-2 &lt;strong&gt;Info BG.&lt;/strong&gt; Lorem ipsum dolor...
                .text-white.bg-success.p-2 &lt;strong&gt;Success BG.&lt;/strong&gt; Lorem ipsum dolor...
                .text-white.bg-warning.p-2 &lt;strong&gt;Warning BG.&lt;/strong&gt; Lorem ipsum dolor...
                .text-white.bg-danger.p-2 &lt;strong&gt;Danger BG.&lt;/strong&gt; Lorem ipsum dolor...
                .text-white.bg-dark.p-2 &lt;strong&gt;Dark BG.&lt;/strong&gt; Lorem ipsum dolor...
                .bg-secondary.p-2 &lt;strong&gt;Secondary BG.&lt;/strong&gt; Lorem ipsum dolor...