// Utilities: Text Colors Code
#utilities-text-colors-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html1' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug1' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html1' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Utilities: Text Colors --&gt;</strong>
                &lt;p class=&quot;text-primary&quot;&gt;&lt;strong&gt;Primary text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-accent&quot;&gt;&lt;strong&gt;Accent text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-info&quot;&gt;&lt;strong&gt;Info text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-success&quot;&gt;&lt;strong&gt;Success text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-warning&quot;&gt;&lt;strong&gt;Warning text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-danger&quot;&gt;&lt;strong&gt;Danger text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-dark&quot;&gt;&lt;strong&gt;Dark text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-secondary&quot;&gt;&lt;strong&gt;Secondary text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-muted&quot;&gt;&lt;strong&gt;Muted text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
                &lt;p class=&quot;text-white&quot;&gt;&lt;strong&gt;White text.&lt;/strong&gt; Lorem ipsum dolor...&lt;/p&gt;
          div(id='pug1' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Utilities: Text Colors</strong>
                p.text-primary &lt;strong&gt;Primary text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-accent &lt;strong&gt;Accent text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-info &lt;strong&gt;Info text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-success &lt;strong&gt;Success text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-warning &lt;strong&gt;Warning text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-danger &lt;strong&gt;Danger text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-dark &lt;strong&gt;Dark text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-secondary &lt;strong&gt;Secondary text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-muted &lt;strong&gt;Muted text.&lt;/strong&gt; Lorem ipsum dolor...
                p.text-white &lt;strong&gt;White text.&lt;/strong&gt; Lorem ipsum dolor...
