// Wizard Code
#wizard-code.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Code
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.pb-0
        ul(class='nav nav-tabs pre-nav-tabs justify-content-end' role='tablist')
          li.nav-item
            a(href='#html' class='nav-link active' data-toggle='tab' role='tab') HTML
          li.nav-item
            a(href='#pug' class='nav-link' data-toggle='tab' role='tab') Pug
        .tab-content
          div(id='html' class='tab-pane fade show active' role='tabpanel')
            pre.text-md
              code.
                <strong>&lt;!-- Wizard --&gt;</strong>
                &lt;div class=&quot;wizard&quot;&gt;
                  
                  &lt;!-- Wizard Steps --&gt;
                  &lt;div class=&quot;wizard-steps d-flex flex-wrap flex-sm-nowrap justify-content-between&quot;&gt;
                    &lt;a class=&quot;wizard-step&quot; href=&quot;#&quot;&gt;&lt;i class=&quot;fe-icon-check-circle text-success&quot;&gt;&lt;/i&gt;1. Personal Details&lt;/a&gt;
                    &lt;div class=&quot;wizard-step active&quot;&gt;2. Billing Address&lt;/div&gt;
                    &lt;a class=&quot;wizard-step&quot; href=&quot;#&quot;&gt;3. Contact Details&lt;/a&gt;
                    &lt;a class=&quot;wizard-step&quot; href=&quot;#&quot;&gt;4. Payment Method&lt;/a&gt;
                  &lt;/div&gt;

                  <strong>&lt;!-- Wizard Body --&gt;</strong>
                  &lt;div class=&quot;wizard-body&quot;&gt;
                    &lt;h3 class=&quot;h5 pb-2&quot;&gt;Billing Address&lt;/h3&gt;
                    &lt;div class=&quot;row&quot;&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-fn&quot;&gt;First Name&lt;/label&gt;
                          &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;wizard-fn&quot;&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-ln&quot;&gt;Last Name&lt;/label&gt;
                          &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;wizard-ln&quot;&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-email&quot;&gt;E-mail Address&lt;/label&gt;
                          &lt;input class=&quot;form-control&quot; type=&quot;email&quot; id=&quot;wizard-email&quot;&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-phone&quot;&gt;Phone Number&lt;/label&gt;
                          &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;wizard-phone&quot;&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-company&quot;&gt;Company&lt;/label&gt;
                          &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;wizard-company&quot;&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-country&quot;&gt;Country&lt;/label&gt;
                          &lt;select class=&quot;form-control&quot; id=&quot;wizard-country&quot;&gt;
                            &lt;option&gt;Choose country&lt;/option&gt;
                            &lt;option&gt;Australia&lt;/option&gt;
                            &lt;option&gt;Canada&lt;/option&gt;
                            &lt;option&gt;France&lt;/option&gt;
                            &lt;option&gt;Germany&lt;/option&gt;
                            &lt;option&gt;Switzerland&lt;/option&gt;
                            &lt;option&gt;USA&lt;/option&gt;
                          &lt;/select&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-city&quot;&gt;Country&lt;/label&gt;
                          &lt;select class=&quot;form-control&quot; id=&quot;wizard-city&quot;&gt;
                            &lt;option&gt;Choose city&lt;/option&gt;
                            &lt;option&gt;Amsterdam&lt;/option&gt;
                            &lt;option&gt;Berlin&lt;/option&gt;
                            &lt;option&gt;Geneve&lt;/option&gt;
                            &lt;option&gt;New York&lt;/option&gt;
                            &lt;option&gt;Paris&lt;/option&gt;
                          &lt;/select&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-zip&quot;&gt;ZIP Code&lt;/label&gt;
                          &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;wizard-zip&quot;&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-address-1&quot;&gt;Address 1&lt;/label&gt;
                          &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;wizard-address-1&quot;&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;div class=&quot;form-group&quot;&gt;
                          &lt;label class=&quot;text-muted&quot; for=&quot;wizard-address-2&quot;&gt;Address 2&lt;/label&gt;
                          &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;wizard-address-2&quot;&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;

                  <strong>&lt;!-- Wizard Footer --&gt;</strong>
                  &lt;div class=&quot;wizard-footer d-flex justify-content-between&quot;&gt;
                    &lt;a class=&quot;btn btn-secondary my-2&quot; href=&quot;#&quot;&gt;
                      &lt;i class=&quot;fe-icon-arrow-left&quot;&gt;&lt;/i&gt;
                      &lt;span class=&quot;d-none d-sm-inline-block&quot;&gt;Back&lt;/span&gt;
                    &lt;/a&gt;
                    &lt;a class=&quot;btn btn-primary my-2&quot; href=&quot;#&quot;&gt;
                      &lt;span class=&quot;d-none d-sm-inline-block&quot;&gt;Continue&lt;/span&gt;
                      &lt;i class=&quot;fe-icon-arrow-right&quot;&gt;&lt;/i&gt;
                    &lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          div(id='pug' class='tab-pane fade' role='tabpanel')
            pre.text-md
              code.
                <strong>//- Wizard</strong>
                .wizard

                  <strong>//- Wizard Steps</strong>
                  .wizard-steps.d-flex.flex-wrap.flex-sm-nowrap.justify-content-between
                    a(href=&quot;#&quot;).wizard-step
                      i.fe-icon-check-circle.text-success
                      | 1. Personal Details
                    .wizard-step.active 2. Billing Address
                    a(href=&quot;#&quot;).wizard-step 3. Contact Details
                    a(href=&quot;#&quot;).wizard-step 4. Payment Method
                  
                  <strong>//- Wizard Body</strong>
                  .wizard-body
                    h3.h5.pb-2 Billing Address
                    .row
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-fn&quot;).text-muted First Name
                          input(type=&quot;text&quot;)#wizard-fn.form-control
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-ln&quot;).text-muted Last Name
                          input(type=&quot;text&quot;)#wizard-ln.form-control
                    .row
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-email&quot;).text-muted E-mail Address
                          input(type=&quot;email&quot;)#wizard-email.form-control
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-phone&quot;).text-muted Phone Number
                          input(type=&quot;text&quot;)#wizard-phone.form-control
                    .row
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-company&quot;).text-muted Company
                          input(type=&quot;text&quot;)#wizard-company.form-control
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-country&quot;).text-muted Country
                          select#wizard-country.form-control
                            option Choose country
                            option Australia
                            option Canada
                            option France
                            option Germany
                            option Switzerland
                            option USA
                    .row
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-city&quot;).text-muted Country
                          select#wizard-city.form-control
                            option Choose city
                            option Amsterdam
                            option Berlin
                            option Geneve
                            option New York
                            option Paris
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-zip&quot;).text-muted ZIP Code
                          input(type=&quot;text&quot;)#wizard-zip.form-control
                    .row
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-address-1&quot;).text-muted Address 1
                          input(type=&quot;text&quot;)#wizard-address-1.form-control
                      .col-sm-6
                        .form-group
                          label(for=&quot;wizard-address-2&quot;).text-muted Address 2
                          input(type=&quot;text&quot;)#wizard-address-2.form-control

                  <strong>//- Wizard Footer</strong>
                  .wizard-footer.d-flex.justify-content-between
                    a(href=&quot;#&quot;).btn.btn-secondary.my-2
                      i.fe-icon-arrow-left
                      span.d-none.d-sm-inline-block Back
                    a(href=&quot;#&quot;).btn.btn-primary.my-2
                      span.d-none.d-sm-inline-block Continue
                      i.fe-icon-arrow-right
