extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Pills'
  - var pageTitleInverse = true
  - var pageTitleBgImage ='img/page-title/components-pattern.png'
  - var pageTitleIndentLeft = true
  - var isNestedFile = true
  - var parentMenu = 'Components'
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': '../components.html'}]

//- Page Content
block content

  //- Pills Style 1 (Default) Code Modal
  include code/pills-style1

  //- Pills Style 2 Code Modal
  include code/pills-style2

  //- Pills Switching Content Code Modal
  include code/pills-switching-content

  //- Pills with Icons Code Modal
  include code/pills-icons

  //- Pills Center Aligned Code Modal
  include code/pills-center

  //- Pills Right Aligned Code Modal
  include code/pills-right

  //- Pills Justified Code Modal
  include code/pills-justified

  //- Pills Vertical Code Modal
  include code/pills-vertical

  // Off-Canvas (Sidebar)
  include ../partials/sidebar-components

  // Off-Canvas Wrapper
  .offcanvas-wrapper
    .container

      // Style 1 (default)
      .pb-5.mb-1
        .d-flex.flex-wrap.justify-content-between
          h4.mr-3 Style 1 (default)
          a(href='#pills-style1-code' data-toggle='modal').navi-link.font-weight-bold.text-sm.text-uppercase.py-2
            i.fe-icon-code
            | &nbsp;&nbsp;Show code
        hr.pb-4.mb-1
        ul.nav.nav-pills
          li.nav-item: a(href='#' class='nav-link active') Active
          li.nav-item: a(href='#' class='nav-link') Link
          li.nav-item.dropdown
            a(href='#' class='nav-link dropdown-toggle' data-toggle='dropdown' role='button') Dropdown
            .dropdown-menu
              a(href='#' class='dropdown-item') Action
              a(href='#' class='dropdown-item') Another Action
              a(href='#' class='dropdown-item') Something else here
          li.nav-item: a(href='#' class='nav-link disabled') Disabled
      
      // Style 2
      .pb-5.mb-1
        .d-flex.flex-wrap.justify-content-between
          h4.mr-3 Style 2
          a(href='#pills-style2-code' data-toggle='modal').navi-link.font-weight-bold.text-sm.text-uppercase.py-2
            i.fe-icon-code
            | &nbsp;&nbsp;Show code
        hr.pb-4.mb-1
        ul.nav.nav-pills.nav-pills-style-2
          li.nav-item: a(href='#' class='nav-link active') Active
          li.nav-item: a(href='#' class='nav-link') Link
          li.nav-item.dropdown
            a(href='#' class='nav-link dropdown-toggle' data-toggle='dropdown' role='button') Dropdown
            .dropdown-menu
              a(href='#' class='dropdown-item') Action
              a(href='#' class='dropdown-item') Another Action
              a(href='#' class='dropdown-item') Something else here
          li.nav-item: a(href='#' class='nav-link disabled') Disabled
      
      // Switching content
      .d-flex.flex-wrap.justify-content-between
        h4.mr-3 Switching content
        a(href='#pills-switching-content-code' data-toggle='modal').navi-link.font-weight-bold.text-sm.text-uppercase.py-2
          i.fe-icon-code
          | &nbsp;&nbsp;Show code
      hr.pb-4.mb-1
      .row.pb-5
        .col-lg-9
          ul(class='nav nav-pills' role='tablist')
            li.nav-item: a(href='#home' class='nav-link active' data-toggle='tab' role='tab') Home
            li.nav-item: a(href='#profile' class='nav-link' data-toggle='tab' role='tab') Profile
            li.nav-item: a(href='#settings' class='nav-link' data-toggle='tab' role='tab') Settings
          .tab-content.pt-2
            div(id='home' class='tab-pane fade show active' role='tabpanel')
              p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            div(id='profile' class='tab-pane fade' role='tabpanel')
              p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
            div(id='settings' class='tab-pane fade' role='tabpanel')
              p Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.

      // Pills with icons
      .pb-5.mb-1
        .d-flex.flex-wrap.justify-content-between
          h4.mr-3 Pills with icons
          a(href='#pills-icons-code' data-toggle='modal').navi-link.font-weight-bold.text-sm.text-uppercase.py-2
            i.fe-icon-code
            | &nbsp;&nbsp;Show code
        hr.pb-4.mb-1
        ul.nav.nav-pills
          li.nav-item: a(href='#' class='nav-link active')
            i.fe-icon-home
            | &nbsp;Home
          li.nav-item: a(href='#' class='nav-link')
            i.fe-icon-user
            | &nbsp;Profile
          li.nav-item: a(href='#' class='nav-link')
            i.fe-icon-settings
            | &nbsp;Settings
          li.nav-item: a(href='#' class='nav-link')
            i.fe-icon-message-square
            | &nbsp;Messages

      // Alignment
      .row
        .col-lg-6.pb-5.mb-1
          .d-flex.flex-wrap.justify-content-between
            h4.mr-3 Align center
            a(href='#pills-center-code' data-toggle='modal').navi-link.font-weight-bold.text-sm.text-uppercase.py-2
              i.fe-icon-code
              | &nbsp;&nbsp;Show code
          hr.pb-4.mb-1
          ul(class='nav nav-pills justify-content-center')
            li.nav-item: a(href='#' class='nav-link active') Home
            li.nav-item: a(href='#' class='nav-link') Profile
            li.nav-item: a(href='#' class='nav-link') Settings
        .col-lg-6.pb-5.mb-1
          .d-flex.flex-wrap.justify-content-between
            h4.mr-3 Align right
            a(href='#pills-right-code' data-toggle='modal').navi-link.font-weight-bold.text-sm.text-uppercase.py-2
              i.fe-icon-code
              | &nbsp;&nbsp;Show code
          hr.pb-4.mb-1
          ul(class='nav nav-pills justify-content-end')
            li.nav-item: a(href='#' class='nav-link active') Home
            li.nav-item: a(href='#' class='nav-link') Profile
            li.nav-item: a(href='#' class='nav-link') Settings
      
      // Justified pills
      .pb-5
        .d-flex.flex-wrap.justify-content-between
          h4.mr-3 Justified pills
          a(href='#pills-justified-code' data-toggle='modal').navi-link.font-weight-bold.text-sm.text-uppercase.py-2
            i.fe-icon-code
            | &nbsp;&nbsp;Show code
        hr.pb-4.mb-1
        ul(class='nav nav-pills nav-justified')
          li.nav-item: a(href='#' class='nav-link active') Home
          li.nav-item: a(href='#' class='nav-link') Profile
          li.nav-item: a(href='#' class='nav-link') Settings
          li.nav-item: a(href='#' class='nav-link') Messages
      
      // Vertical pills
      .d-flex.flex-wrap.justify-content-between
        h4.mr-3 Vertical pills
        a(href='#pills-vertical-code' data-toggle='modal').navi-link.font-weight-bold.text-sm.text-uppercase.py-2
          i.fe-icon-code
          | &nbsp;&nbsp;Show code
      hr.pb-4.mb-1
      .row.pb-5.mb-3
        .col-lg-3.col-md-4.col-sm-5
          ul(class='nav nav-pills flex-column')
            li.nav-item: a(href='#' class='nav-link active') Home
            li.nav-item: a(href='#' class='nav-link') Profile
            li.nav-item: a(href='#' class='nav-link') Settings
            li.nav-item: a(href='#' class='nav-link') Messages
